#table-image ngx-dropzone-image-preview{
    height: 40px !important;
    min-height: 40px !important;
    min-width: 40px !important;
    max-width: 40px !important;
    justify-content: flex-start !important;
}

.table thead th {
    line-height: 2 !important;
}

.sub-lable {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1;
    margin-top: 10px;
}