<form [formGroup]="teacherGradeDivisionMappingForm"  >
<div class="container-fluid">
    <div class="d-flex align-items-center page-heading-wrapper">
      <h3 class="page-heading" translate>CLASS_TEACHER_MAPPING</h3>
    </div>
    <div class="card mb-4">
      <div class="card-body table-body">
        <!--table listing statrt-->
        <div id="no-more-tables">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="display table row-border hover">
            <thead>
              <tr>
                <th style="width: 30%;" translate>CLASS</th>
                <th style="width: 70%" translate>CLASS_TEACHER_NAME</th>
              </tr>
            </thead>
            <tbody *ngIf="teacherMappings?.length != 0">
              <tr *ngFor="let teacherMapping of teacherMappings index as i ">
                    <td [attr.data-title]=" 'CLASS' | translate">{{ teacherMapping.className }}</td>
                   <td [attr.data-title]=" 'TEACHER_NAME' | translate">
                    <ng-select
                   [items]="teacherDropdownList"
                   [multiple]="true"
                   [clearable]="false"
                   [closeOnSelect]="false"
                   bindLabel="fullName"
                   bindValue="teacherId"
                   placeholder="{{ 'SELECT_TEACHER' | translate }}"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="teacherMapping.teacherList"
                   (remove)="onDropDownClose(teacherMapping,$event,teacherMapping.gradeId, teacherMapping.divisionId)"
                   (close)="onDropDownAdd(teacherMapping,$event,teacherMapping.gradeId, teacherMapping.divisionId)"   
                   >

                   <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <span *ngIf="!isDisabled(item, teacherMapping.gradeId, teacherMapping.divisionId)" >
                    <input
                      id="item-{{ index }}"
                      type="checkbox"
                      [ngModelOptions]="{ standalone: true }"
                      [ngModel]="item$.selected"
                    />
                    {{ item.fullName }}
                  </span>  
                  </ng-template>
                 </ng-select>
                </td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
