<header id="back-header" class="back-header back-header-three back-header-transparent">
    <div class="menu-part">
        <div class="container">
            <!--================= Start Back Menu =================-->
            <div class="back-main-menu">
                <nav>
                    <!--================= Menu Toggle btn =================-->
                    <div class="menu-toggle">
                        <div class="logo"><a href="index.html" class="logo-text"> <img src="assets/images/new-logo.png" alt="logo"> </a></div>
                        <button type="button" id="menu-btn">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!--================= Menu Structure =================--> 
                    <div class="back-inner-menus">
                        <ul id="backmenu" class="back-menus back-sub-shadow">
                            <li class="mega-inner"> <a href="#">Home</a>
                                <ul class="mega-menu">
                                    <li>
                                        <div class="mega-menu-container">
                                            <div class="menu-item">
                                                <div class="sub-menu-mega">
                                                    <div class="menu-title">MultiPages</div>
                                                    <div><a href="index.html">Univercity</a></div>
                                                    <div><a href="index-two.html">School One</a></div>
                                                    <div><a href="index-three.html">School Two</a></div>
                                                    <div><a href="index-four.html">Kids</a></div>
                                                </div>
                                            </div>
                                            <div class="menu-item">
                                                <div class="sub-menu-mega">
                                                    <div class="menu-title">MultiPages</div>
                                                    <div><a href="languages-school.html">Languages School</a></div>
                                                    <div><a href="distant-learning.html">Distant Learning</a></div>
                                                    <div><a href="restaurant.html">Restaurant</a></div>
                                                    <div><a href="courses-hub.html">Courses Hub </a></div>
                                                </div>
                                            </div>
                                            <div class="menu-item">
                                                <div class="sub-menu-mega">
                                                    <div class="menu-title">MultiPages</div>
                                                    <div><a href="uxui-courses.html">UX/UI Courses</a></div>
                                                    <div><a href="online-school.html">Online School</a></div>
                                                    <div><a href="online-tutor.html">Online Tutor</a></div>
                                                    <div><a href="freelancer-courses.html">Freelancer Courses</a></div>
                                                </div>
                                            </div>
                                            <div class="menu-item">
                                                <div class="sub-menu-mega">
                                                    <div class="menu-title">MultiPages</div>
                                                    <div><a href="courses-archive.html">Courses Archive</a></div>
                                                    <div><a href="gym-coach.html">Gym Coach</a></div>
                                                    <div><a href="one-instructor.html">One Instructor</a></div>
                                                    <div><a href="online-training.html">Online Training</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li> <a href="#">Pages</a>
                                <ul>
                                    <li> <a href="about.html">About</a></li> 
                                    <li> <a href="instructor.html">Instructor</a></li> 
                                    <li> <a href="profile.html">Profile</a></li> 
                                    <li> <a href="login.html">Sign In</a></li> 
                                    <li> <a href="signup.html">Sign Up</a></li> 
                                    <li> <a href="404.html">Error 404</a></li> 
                                </ul>
                            </li>                                                                   
                            <li> <a href="coureses-grid.html">Courses</a>
                                <ul>
                                    <li><a href="coureses-grid.html">Courses</a>
                                        <ul>
                                            <li><a href="coureses-grid.html">Classic</a></li>
                                            <li><a href="coureses-left-sidebar.html">Left Sidebar</a></li>
                                            <li><a href="coureses-right-sidebar.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="coureses-list.html">Courses List</a></li>
                                    <li><a href="coureses-single.html">Courses Single</a>
                                        <ul>
                                            <li><a href="coureses-single.html">Classic</a></li>
                                            <li><a href="coureses-single-left.html">Left Sidebar</a></li>
                                            <li><a href="coureses-single-right.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li> <a href="blog.html">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Classic</a></li>
                                            <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                                            <li><a href="blog-fullwidth.html">Full Width</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog-details.html">Blog Single</a>
                                        <ul>
                                            <li><a href="blog-details.html">Classic</a></li>
                                            <li><a href="blog-details-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-details-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-details-full.html">Full Width</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li> <a href="contact.html">Contact</a></li>
                        </ul>
                        <div class="searchbar-part">                                    
                            <a href="#" class="back-btn">Buy Now</a>
                        </div>
                    </div>
                </nav>
            </div>
            <!--================= End Back Menu =================-->
        </div>
    </div>
</header>