<ion-app>
 
  <!-- <ion-router-outlet *ngIf="isAppAccessible"></ion-router-outlet> -->

  <ion-router-outlet ></ion-router-outlet>

<!-- /  <ion-card class="box-wrapper" *ngIf="!isAppAccessible">
    <div class="box left-b">

    <span class="roll">A new version of the app is available. Please update to continue using the app.</span>
      
    </div>
    <div class="box right-b text-end">
      

       <ion-button size="small" shape="round" (click)="redirectToPlayStore()" color="success">Download</ion-button>
    </div>
  </ion-card> -->

</ion-app>
<ion-modal [isOpen]="status == false">
  <ng-template>
    <ion-content>
      <app-empty-screen [model]="model" (retry)="checkStatus($event)"></app-empty-screen>
    </ion-content>
  </ng-template>
</ion-modal>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
