.no-data-available {
    text-align: center;
  }
  
  .selected-day {
    position: absolute;
    top: 15px;
    right: 25%;
  }
  
  ::ng-deep table.dataTable td.dataTables_empty {
    display: none;
  }
  