<div class="container-fluid">

  <div class="d-flex align-items-center page-heading-wrapper">
    <h3 class="page-heading" translate>PAYMENT_ANALYTIC</h3> 
  </div>

  <div class="card mb-4">
    <div class="card-body table-body">
      <div id="no-more-tables" *ngIf="paymentAnalyticsDto != null">
        <div ngbAccordion #accordion="ngbAccordion" [closeOthers]="true">
          <div ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="false">
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <div class="main-wrap">
                    <div class="inline-box" *ngIf="paymentAnalyticsDto.paymentAnalyticsSchool != null">
                      <div class="box">
                        <div class="title" translate>SCHOOL_NAME</div>
                        <div class="content">{{paymentAnalyticsDto.paymentAnalyticsSchool.schoolName}}</div>
                      </div>
                      <div class="box">
                        <div class="title" translate>TOTAL_FEE</div>
                        <div class="content">{{paymentAnalyticsDto.paymentAnalyticsSchool.totalFee |currency : "INR"}}</div>
                      </div>
                      <div class="box">
                        <div class="title" translate>DISCOUNTED_FEE</div>
                        <div class="content">{{paymentAnalyticsDto.paymentAnalyticsSchool.discountedFee |currency : "INR"}}</div>
                      </div>
                      <div class="box">
                        <div class="title" translate>EFFECTIVE_FEE</div>
                        <div class="content">{{paymentAnalyticsDto.paymentAnalyticsSchool.effectiveFee |currency : "INR"}}</div>
                      </div>
                      <div class="box">
                        <div class="title" translate>COLLECTION_TILL_DATE</div>
                        <div class="content">{{paymentAnalyticsDto.paymentAnalyticsSchool.collectionTillDate |currency : "INR"}}</div>
                      </div>
                      <div class="box">
                        <div class="title" translate>RECEIVABLE_FEE</div>
                        <div class="content">{{paymentAnalyticsDto.paymentAnalyticsSchool.receivableFee |currency : "INR"}}</div>
                      </div>
                      <div class="box">
                        <div class="title" translate>COLLECTION_IN_%</div>
                        <div class="content">{{paymentAnalyticsDto.paymentAnalyticsSchool.collectionInPercentage}}</div>
                      </div>
                    </div>
                    
                    <div class="right">
                      <button container="body" class="btn btn-export btn-primary"
                        (click)="exportPaymentAnalyticsSchoolwise()">
                        <span placement="top" ngbTooltip="{{ 'EXPORT' | translate }}">
                          <i class="bi bi-box-arrow-up"></i>
                        </span>
                      </button>
                      <i (click)="accordion2.toggle('second');getGradePaymentanalytics()" class="bi" [ngClass]="
                          second.collapsed
                            ? 'bi-plus-circle-fill'
                            : 'bi-dash-circle-fill'
                        "></i>
                    </div>
                  </div>
                  <!-- grade class accordion -->
                  <div ngbAccordion #accordion2="ngbAccordion" [closeOthers]="true">
                    <div ngbAccordionItem="second" #second="ngbAccordionItem">
                      <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                          <ng-template>
                            <div class="main-wrap-2">
                              <div class="inline-box" *ngIf="paymentAnalyticsDto.paymentAnalyticsGrade != null">
                                <div class="inline-header">
                                  <div class="box">
                                    <div class="title" translate>GRADE_NAME</div>
                                  </div>
                                  <div class="box">
                                    <div class="title" translate>TOTAL_FEE</div>
                                  </div>
                                  <div class="box">
                                    <div class="title" translate>DISCOUNTED_FEE</div>
                                  </div>
                                  <div class="box">
                                    <div class="title" translate>EFFECTIVE_FEE</div>
                                  </div>
                                  <div class="box">
                                    <div class="title" translate>
                                      COLLECTION_TILL_DATE
                                    </div>
                                  </div>
                                  <div class="box">
                                    <div class="title" translate>RECEIVABLE_FEE</div>
                                  </div>
                                  <div class="box">
                                    <div class="title" translate>COLLECTION_IN_%</div>
                                  </div>

                                </div>
                                <div class="w-100" *ngFor="let grade of paymentAnalyticsDto.paymentAnalyticsGrade">
                                  <div class="inline-header">
                                    <div class="box">
                                      <div class="content">{{grade.gradeName}}</div>
                                    </div>
                                    <div class="box">
                                      <div class="content">{{grade.totalFee |currency : "INR"}}</div>
                                    </div>
                                    <div class="box">
                                      <div class="content">{{grade.discountedFee |currency : "INR"}}</div>
                                    </div>
                                    <div class="box">
                                      <div class="content">{{grade.effectiveFee |currency : "INR"}}</div>
                                    </div>
                                    <div class="box">
                                      <div class="content">{{grade.collectionTillDate |currency : "INR"}}</div>
                                    </div>
                                    <div class="box">
                                      <div class="content">{{grade.receivableFee |currency : "INR"}}</div>
                                    </div>
                                    <div class="box">
                                      <div class="content">{{grade.collectionInPercentage}} %</div>
                                    </div>
                                   
                                    <div class="right">
                                      <button container="body" class="btn btn-export  btn-primary"
                                      (click)="exportPaymentAnalyticsGradewise(grade.gradeId)">
                                      <span placement="top" ngbTooltip="{{ 'EXPORT' | translate }}">
                                        <i class="bi bi-box-arrow-up"></i>
                                      </span>
                                    </button>
                                      <i (click)="accordion3.toggle('three');getDivisionPaymentAnalytics(grade.gradeId)"
                                        class="bi" [ngClass]="
                                        three.collapsed
                                          ? 'bi-plus-circle-fill'
                                          : 'bi-dash-circle-fill'
                                      "></i>
                                    </div>

                                  </div>
                                  <!-- accordion for class -->
                                  <div ngbAccordion #accordion3="ngbAccordion" [closeOthers]="true">
                                    <div ngbAccordionItem="three" #three="ngbAccordionItem">
                                      <div ngbAccordionCollapse>
                                        <div ngbAccordionBody>
                                          <ng-template>
                                            <div class="main-wrap-3">
                                              <div class="inline-box"
                                                *ngIf="paymentAnalyticsDto.paymentAnalyticsDivision != null && paymentAnalyticsDto.paymentAnalyticsDivision.length > 0 && paymentAnalyticsDto.paymentAnalyticsDivision[0].gradeId == grade.gradeId">
                                                <div class="inline-header">
                                                  <div class="box">
                                                    <div class="title" translate>CLASS_NAME</div>
                                                  </div>
                                                  <div class="box">
                                                    <div class="title" translate>TOTAL_FEE</div>
                                                  </div>
                                                  <div class="box">
                                                    <div class="title" translate>DISCOUNTED_FEE</div>
                                                  </div>
                                                  <div class="box">
                                                    <div class="title" translate>EFFECTIVE_FEE</div>
                                                  </div>
                                                  <div class="box">
                                                    <div class="title" translate>
                                                      COLLECTION_TILL_DATE
                                                    </div>
                                                  </div>
                                                  <div class="box">
                                                    <div class="title" translate>RECEIVABLE_FEE</div>
                                                  </div>
                                                  <div class="box" >
                                                    <div class="title" translate>COLLECTION_IN_%</div>
                                                  </div>
                                                </div>
                                                <div class="w-100"
                                                  *ngFor="let division of paymentAnalyticsDto.paymentAnalyticsDivision">
                                                  <div class="inline-header">
                                                    <div class="box">
                                                      <div class="content">{{grade.gradeName}}-{{division.divisionName}}
                                                      </div>
                                                    </div>
                                                    <div class="box">
                                                      <div class="content">{{division.totalFee |currency : "INR"}}</div>
                                                    </div>
                                                    <div class="box">
                                                      <div class="content">{{division.discountedFee |currency : "INR"}}</div>
                                                    </div>
                                                    <div class="box">
                                                      <div class="content">{{division.effectiveFee |currency : "INR"}}</div>
                                                    </div>
                                                    <div class="box">
                                                      <div class="content">{{division.collectionTillDate |currency : "INR"}}</div>
                                                    </div>
                                                    <div class="box">
                                                      <div class="content">{{division.receivableFee |currency : "INR"}}</div>
                                                    </div>
                                                    <div class="box">
                                                      <div class="content">{{division.collectionInPercentage}} %</div>
                                                    </div>
                                                  
                                                    <div class="right">
                                                      <button container="body" class="btn btn-export  btn-primary"
                                                      (click)="exportPaymentAnalyticsDivisionwise(grade.gradeId, division.divisionId)">
                                                      <span placement="top" ngbTooltip="{{ 'EXPORT' | translate }}">
                                                        <i class="bi bi-box-arrow-up"></i>
                                                      </span>
                                                    </button>
                                                      <i (click)="accordion4.toggle('four');getStudentPaymentAnalytics(division.gradeId,division.divisionId)"
                                                        class="bi" [ngClass]="
                                                  four.collapsed
                                                    ? 'bi-plus-circle-fill'
                                                    : 'bi-dash-circle-fill'
                                                "></i>
                                                    </div>
                                                  </div>
                                                  <!-- accordion for student -->

                                                  <div ngbAccordion #accordion4="ngbAccordion">
                                                    <div ngbAccordionItem="four" #four="ngbAccordionItem">
                                                      <div ngbAccordionCollapse>
                                                        <div ngbAccordionBody>
                                                          <ng-template>
                                                            <div class="main-wrap-4">
                                                              <div class="inline-box"
                                                                *ngIf="paymentAnalyticsDto.paymentAnalyticsStudent != null && paymentAnalyticsDto.paymentAnalyticsStudent.length > 0 && paymentAnalyticsDto.paymentAnalyticsStudent[0].divisionId == division.divisionId">
                                                                <div class="inline-header inline-header-title">
                                                                  <div class="box">
                                                                    <div class="title" translate>STUDENT_NAME</div>
                                                                  </div>
                                                                  <div class="box">
                                                                    <div class="title" translate>TOTAL_FEE</div>
                                                                  </div>
                                                                  <div class="box">
                                                                    <div class="title" translate>DISCOUNTED_FEE</div>
                                                                  </div>
                                                                  <div class="box">
                                                                    <div class="title" translate>EFFECTIVE_FEE</div>
                                                                  </div>
                                                                  <div class="box">
                                                                    <div class="title" translate>
                                                                      COLLECTION_TILL_DATE
                                                                    </div>
                                                                  </div>
                                                                  <div class="box">
                                                                    <div class="title" translate>RECEIVABLE_FEE</div>
                                                                  </div>
                                                                  <div class="box">
                                                                    <div class="title" translate>COLLECTION_IN_%</div>
                                                                  </div>
                                                                </div>
                                                                <div class="inline-header"
                                                                  *ngFor="let student of paymentAnalyticsDto.paymentAnalyticsStudent">
                                                                  <div class="box">
                                                                    <div class="content">{{student.studentName}}</div>
                                                                  </div>
                                                                  <div class="box">
                                                                    <div class="content">{{student.totalFee |currency : "INR"}}</div>
                                                                  </div>
                                                                  <div class="box">
                                                                    <div class="content">{{student.discountedFee |currency : "INR"}}</div>
                                                                  </div>
                                                                  <div class="box">
                                                                    <div class="content">{{student.effectiveFee |currency : "INR"}}</div>
                                                                  </div>
                                                                  <div class="box">
                                                                    <div class="content">{{student.collectionTillDate |currency : "INR"}}
                                                                    </div>
                                                                  </div>
                                                                  <div class="box">
                                                                    <div class="content">{{student.receivableFee |currency : "INR"}}</div>
                                                                  </div>
                                                                  <div class="box">
                                                                    <div class="content">
                                                                      {{student.collectionInPercentage}} %
                                                                    </div>
                                                                  </div>
                                                                </div>

                                                              </div>

                                                              <div class="right">
                                                                <!-- <i
                                                      (click)="accordion1.toggle('third')"
                                                      class="bi"
                                                      [ngClass]="
                                                        third.collapsed
                                                          ? 'bi-plus-circle-fill'
                                                          : 'bi-dash-circle-fill'
                                                      "
                                                    ></i> -->
                                                              </div>
                                                            </div>
                                                          </ng-template>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>


                                            </div>


                                          </ng-template>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>


                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- grade class accordion end -->


                </ng-template>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>