

<ion-content>

  <div class="ion-padding ion-full-height ion-flex ion-flex-center">

    <div class="logo-container">
      <h1 class="animate__animated animate__fadeInUp">
        <ion-text class="dark-color">Reset Password</ion-text>
      </h1>
    </div>

    <form class="form-default" [formGroup]="forgotPasswordForm">

      <ion-item lines="none">
        <ion-label position="stacked">
         New Password        
        </ion-label>
        <ion-input type="{{passwordVisible ? 'text' : 'password'}}" formControlName="password" placeholder="Password"></ion-input>
        <ion-icon name="{{passwordVisible ? 'eye' : 'eye-off'}}" (click)="togglePasswordVisibility()"></ion-icon>
        <ion-note *ngIf="f['password'].touched && f['password'].hasError('minlength')" slot="error">Password should be at least of 8 characters.</ion-note>
        <ion-note *ngIf="isSubmitted && f['password'].hasError('required')" slot="error">New Password is required.</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">
          Confirm New Password        
        </ion-label>
        <ion-input type="{{confirmPasswordVisible ? 'text' : 'password'}}" formControlName="confirmPassword" placeholder="Confirm Password"></ion-input>
        <ion-icon name="{{confirmPasswordVisible ? 'eye' : 'eye-off'}}" (click)="toggleConfirmPasswordVisibility()"></ion-icon>
        <ion-note *ngIf="isSubmitted && f['confirmPassword'].hasError('required')" slot="error">Confirm New Password is required.</ion-note>
        <ion-note *ngIf="f['confirmPassword'].touched && !f['confirmPassword'].hasError('required') && f['confirmPassword'].hasError('compare')" slot="error">New Password and Confirm New Password should match.</ion-note>
      </ion-item>
      
      <ion-button expand="block" (click)="ChangePassword()">
        Reset password
      </ion-button>
    </form>

  </div>

</ion-content>

