<div class="container-fluid">

    <div class="d-flex align-items-center page-heading-wrapper">
      <h3 class="page-heading" translate>TRANSPORT_PAYMENT_ANALYTIC</h3> 
    </div>
  
    <div class="card mb-4">
      <div class="card-body table-body">
        <div id="no-more-tables" *ngIf="transportPaymentAnalyticsDto != null">
          <div ngbAccordion #accordion="ngbAccordion" [closeOthers]="true">
            <div ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="false">
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <h5 class="p-2 h5-bg">Student</h5>
                  <ng-template>
                    <div class="main-wrap">
                      <div class="inline-box" *ngIf="transportPaymentAnalyticsDto.transportPaymentAnalyticsSchool != null">
                        <div class="box">
                          <div class="title" translate>SCHOOL_NAME</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsSchool.schoolName}}</div>
                        </div>
                        <div class="box">
                          <div class="title" translate>TRANSPORT_TOTAL_FEE</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsSchool.transportTotalFee | currency:"INR"}}</div>
                        </div>
                        <div class="box">
                          <div class="title" translate>TRANSPORT_DISCOUNTED_FEE</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsSchool.transportDiscountedFee | currency:"INR"}}</div>
                        </div>
                        <div class="box">
                          <div class="title" translate>TRANSPORT_EFFECTIVE_FEE</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsSchool.transportEffectiveFee | currency:"INR"}}</div>
                        </div>
                        <div class="box">
                          <div class="title" translate>TRANSPORT_COLLECTION_TILL_DATE</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsSchool.transportCollectionTillDate | currency:"INR"}}</div>
                        </div>
                        <div class="box">
                          <div class="title" translate>TRANSPORT_RECEIVABLE_FEE</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsSchool.transportReceivableFee | currency:"INR"}}</div>
                        </div>
                        <div class="box">
                          <div class="title" translate>TRANSPORT_COLLECTION_IN_%</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsSchool.transportCollectionInPercentage}}</div>
                        </div>
                      </div>
                      
                      <div class="right">
                        <button container="body" class="btn btn-export btn-primary"
                          (click)="exportTransportPaymentAnalyticsSchoolwise()">
                          <span placement="top" ngbTooltip="{{ 'EXPORT' | translate }}">
                            <i class="bi bi-box-arrow-up"></i>
                          </span>
                        </button>
                        <i (click)="accordion2.toggle('second');getGradeTransportPaymentanalytics()" class="bi" [ngClass]="
                            second.collapsed
                              ? 'bi-plus-circle-fill'
                              : 'bi-dash-circle-fill'
                          "></i>
                      </div>
                    </div>
                    <!-- grade class accordion -->
                    <div ngbAccordion #accordion2="ngbAccordion" [closeOthers]="true">
                      <div ngbAccordionItem="second" #second="ngbAccordionItem">
                        <div ngbAccordionCollapse>
                          <div ngbAccordionBody>
                            <ng-template>
                              <div class="main-wrap-2">
                                <div class="inline-box" *ngIf="transportPaymentAnalyticsDto.transportPaymentAnalyticsGrade != null">
                                  <div class="inline-header">
                                    <div class="box">
                                      <div class="title" translate>GRADE_NAME</div>
                                    </div>
                                    <div class="box">
                                      <div class="title" translate>TRANSPORT_TOTAL_FEE</div>
                                    </div>
                                    <div class="box">
                                      <div class="title" translate>TRANSPORT_DISCOUNTED_FEE</div>
                                    </div>
                                    <div class="box">
                                      <div class="title" translate>TRANSPORT_EFFECTIVE_FEE</div>
                                    </div>
                                    <div class="box">
                                      <div class="title" translate>
                                        TRANSPORT_COLLECTION_TILL_DATE
                                      </div>
                                    </div>
                                    <div class="box">
                                      <div class="title" translate>TRANSPORT_RECEIVABLE_FEE</div>
                                    </div>
                                    <div class="box">
                                      <div class="title" translate>TRANSPORT_COLLECTION_IN_%</div>
                                    </div>
  
                                  </div>
                                  <div class="w-100" *ngFor="let grade of transportPaymentAnalyticsDto.transportPaymentAnalyticsGrade">
                                    <div class="inline-header">
                                      <div class="box">
                                        <div class="content">{{grade.gradeName}}</div>
                                      </div>
                                      <div class="box">
                                        <div class="content">{{grade.transportTotalFee | currency:"INR"}}</div>
                                      </div>
                                      <div class="box">
                                        <div class="content">{{grade.transportDiscountedFee | currency:"INR"}}</div>
                                      </div>
                                      <div class="box">
                                        <div class="content">{{grade.transportEffectiveFee | currency:"INR"}}</div>
                                      </div>
                                      <div class="box">
                                        <div class="content">{{grade.transportCollectionTillDate | currency:"INR"}}</div>
                                      </div>
                                      <div class="box">
                                        <div class="content">{{grade.transportReceivableFee | currency:"INR"}}</div>
                                      </div>
                                      <div class="box">
                                        <div class="content">{{grade.transportCollectionInPercentage}} %</div>
                                      </div>
                                     
                                      <div class="right">
                                        <button container="body" class="btn btn-export  btn-primary"
                                        (click)="exportTransportPaymentAnalyticsGradewise(grade.gradeId)">
                                        <span placement="top" ngbTooltip="{{ 'EXPORT' | translate }}">
                                          <i class="bi bi-box-arrow-up"></i>
                                        </span>
                                      </button>
                                        <i (click)="accordion3.toggle('three');getDivisionTransportPaymentAnalytics(grade.gradeId)"
                                          class="bi" [ngClass]="
                                          three.collapsed
                                            ? 'bi-plus-circle-fill'
                                            : 'bi-dash-circle-fill'
                                        "></i>
                                      </div>
  
                                    </div>
                                    <!-- accordion for class -->
                                    <div ngbAccordion #accordion3="ngbAccordion" [closeOthers]="true">
                                      <div ngbAccordionItem="three" #three="ngbAccordionItem">
                                        <div ngbAccordionCollapse>
                                          <div ngbAccordionBody>
                                            <ng-template>
                                              <div class="main-wrap-3">
                                                <div class="inline-box"
                                                  *ngIf="transportPaymentAnalyticsDto.transportPaymentAnalyticsDivision != null && transportPaymentAnalyticsDto.transportPaymentAnalyticsDivision.length > 0 && transportPaymentAnalyticsDto.transportPaymentAnalyticsDivision[0].gradeId == grade.gradeId">
                                                  <div class="inline-header">
                                                    <div class="box">
                                                      <div class="title" translate>CLASS_NAME</div>
                                                    </div>
                                                    <div class="box">
                                                      <div class="title" translate>TRANSPORT_TOTAL_FEE</div>
                                                    </div>
                                                    <div class="box">
                                                      <div class="title" translate>TRANSPORT_DISCOUNTED_FEE</div>
                                                    </div>
                                                    <div class="box">
                                                      <div class="title" translate>TRANSPORT_EFFECTIVE_FEE</div>
                                                    </div>
                                                    <div class="box">
                                                      <div class="title" translate>
                                                        TRANSPORT_COLLECTION_TILL_DATE
                                                      </div>
                                                    </div>
                                                    <div class="box">
                                                      <div class="title" translate>TRANSPORT_RECEIVABLE_FEE</div>
                                                    </div>
                                                    <div class="box" >
                                                      <div class="title" translate>TRANSPORT_COLLECTION_IN_%</div>
                                                    </div>
                                                  </div>
                                                  <div class="w-100"
                                                    *ngFor="let division of transportPaymentAnalyticsDto.transportPaymentAnalyticsDivision">
                                                    <div class="inline-header">
                                                      <div class="box">
                                                        <div class="content">{{grade.gradeName}}-{{division.divisionName}}
                                                        </div>
                                                      </div>
                                                      <div class="box">
                                                        <div class="content">{{division.transportTotalFee | currency:"INR"}}</div>
                                                      </div>
                                                      <div class="box">
                                                        <div class="content">{{division.transportDiscountedFee | currency:"INR"}}</div>
                                                      </div>
                                                      <div class="box">
                                                        <div class="content">{{division.transportEffectiveFee | currency:"INR"}}</div>
                                                      </div>
                                                      <div class="box">
                                                        <div class="content">{{division.transportCollectionTillDate | currency:"INR"}}</div>
                                                      </div>
                                                      <div class="box">
                                                        <div class="content">{{division.transportReceivableFee | currency:"INR"}}</div>
                                                      </div>
                                                      <div class="box">
                                                        <div class="content">{{division.transportCollectionInPercentage}} %</div>
                                                      </div>
                                                    
                                                      <div class="right">
                                                        <button container="body" class="btn btn-export  btn-primary"
                                                        (click)="exportTransportPaymentAnalyticsDivisionwise(grade.gradeId, division.divisionId)">
                                                        <span placement="top" ngbTooltip="{{ 'EXPORT' | translate }}">
                                                          <i class="bi bi-box-arrow-up"></i>
                                                        </span>
                                                      </button>
                                                        <i (click)="accordion4.toggle('four');getStudentTransportPaymentAnalytics(division.gradeId,division.divisionId)"
                                                          class="bi" [ngClass]="
                                                    four.collapsed
                                                      ? 'bi-plus-circle-fill'
                                                      : 'bi-dash-circle-fill'
                                                  "></i>
                                                      </div>
                                                    </div>
                                                    <!-- accordion for student -->
  
                                                    <div ngbAccordion #accordion4="ngbAccordion">
                                                      <div ngbAccordionItem="four" #four="ngbAccordionItem">
                                                        <div ngbAccordionCollapse>
                                                          <div ngbAccordionBody>
                                                            <ng-template>
                                                              <div class="main-wrap-4">
                                                                <div class="inline-box"
                                                                  *ngIf="transportPaymentAnalyticsDto.transportPaymentAnalyticsStudent != null && transportPaymentAnalyticsDto.transportPaymentAnalyticsStudent.length > 0 && transportPaymentAnalyticsDto.transportPaymentAnalyticsStudent[0].divisionId == division.divisionId">
                                                                  <div class="inline-header inline-header-title">
                                                                    <div class="box">
                                                                      <div class="title" translate>STUDENT_NAME</div>
                                                                    </div>
                                                                    <div class="box">
                                                                      <div class="title" translate>TRANSPORT_TOTAL_FEE</div>
                                                                    </div>
                                                                    <div class="box">
                                                                      <div class="title" translate>TRANSPORT_DISCOUNTED_FEE</div>
                                                                    </div>
                                                                    <div class="box">
                                                                      <div class="title" translate>TRANSPORT_EFFECTIVE_FEE</div>
                                                                    </div>
                                                                    <div class="box">
                                                                      <div class="title" translate>
                                                                        TRANSPORT_COLLECTION_TILL_DATE
                                                                      </div>
                                                                    </div>
                                                                    <div class="box">
                                                                      <div class="title" translate>TRANSPORT_RECEIVABLE_FEE</div>
                                                                    </div>
                                                                    <div class="box">
                                                                      <div class="title" translate>TRANSPORT_COLLECTION_IN_%</div>
                                                                    </div>
                                                                  </div>
                                                                  <div class="inline-header"
                                                                    *ngFor="let student of transportPaymentAnalyticsDto.transportPaymentAnalyticsStudent">
                                                                    <div class="box">
                                                                      <div class="content">{{student.studentName}}</div>
                                                                    </div>
                                                                    <div class="box">
                                                                      <div class="content">{{student.transportTotalFee | currency:"INR"}}</div>
                                                                    </div>
                                                                    <div class="box">
                                                                      <div class="content">{{student.transportDiscountedFee | currency:"INR"}}</div>
                                                                    </div>
                                                                    <div class="box">
                                                                      <div class="content">{{student.transportEffectiveFee | currency:"INR"}}</div>
                                                                    </div>
                                                                    <div class="box">
                                                                      <div class="content">{{student.transportCollectionTillDate | currency:"INR"}}
                                                                      </div>
                                                                    </div>
                                                                    <div class="box">
                                                                      <div class="content">{{student.transportReceivableFee | currency:"INR"}}</div>
                                                                    </div>
                                                                    <div class="box">
                                                                      <div class="content">
                                                                        {{student.transportCollectionInPercentage}} %
                                                                      </div>
                                                                    </div>
                                                                  </div>
  
                                                                </div>
  
                                                                <div class="right">
                                                                  <!-- <i
                                                        (click)="accordion1.toggle('third')"
                                                        class="bi"
                                                        [ngClass]="
                                                          third.collapsed
                                                            ? 'bi-plus-circle-fill'
                                                            : 'bi-dash-circle-fill'
                                                        "
                                                      ></i> -->
                                                                </div>
                                                              </div>
                                                            </ng-template>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
  
  
                                              </div>
  
  
                                            </ng-template>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
  
                              </div>
  
  
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- grade class accordion end -->
  
  
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <div ngbAccordion #accordion="ngbAccordion" [closeOthers]="true" *ngIf="transportPaymentAnalyticsDto.transportPaymentAnalyticsStaff != null">
            <div ngbAccordionItem="AccStaff" #AccStaff="ngbAccordionItem" [collapsed]="false">
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <h5 class="p-2 h5-bg">Staff</h5>
                  <ng-template>
                    <div class="main-wrap">
                      <div class="inline-box" *ngIf="transportPaymentAnalyticsDto.transportPaymentAnalyticsStaff != null">
                        <div class="box">
                          <div class="title" translate>SCHOOL_NAME</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsStaff.schoolName}}</div>
                        </div>
                        <div class="box">
                          <div class="title" translate>TRANSPORT_TOTAL_FEE</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsStaff.transportTotalFee | currency:"INR"}}</div>
                        </div>
                        <div class="box">
                          <div class="title" translate>TRANSPORT_DISCOUNTED_FEE</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsStaff.transportDiscountedFee | currency:"INR"}}</div>
                        </div>
                        <div class="box">
                          <div class="title" translate>TRANSPORT_EFFECTIVE_FEE</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsStaff.transportEffectiveFee | currency:"INR"}}</div>
                        </div>
                        <div class="box">
                          <div class="title" translate>TRANSPORT_COLLECTION_TILL_DATE</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsStaff.transportCollectionTillDate | currency:"INR"}}</div>
                        </div>
                        <div class="box">
                          <div class="title" translate>TRANSPORT_RECEIVABLE_FEE</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsStaff.transportReceivableFee | currency:"INR"}}</div>
                        </div>
                        <div class="box">
                          <div class="title" translate>TRANSPORT_COLLECTION_IN_%</div>
                          <div class="content">{{transportPaymentAnalyticsDto.transportPaymentAnalyticsStaff.transportCollectionInPercentage}}</div>
                        </div>
                      </div>
                      
                      <div class="right">
                        <button container="body" class="btn btn-export btn-primary"
                          (click)="exportTransportPaymentAnalyticsStaffList()">
                          <span placement="top" ngbTooltip="{{ 'EXPORT' | translate }}">
                            <i class="bi bi-box-arrow-up"></i>
                          </span>
                        </button>   
                        <i (click)="AccStaff2.toggle('staff');getstaffListTransportPaymentanalytics()" class="bi" [ngClass]="
                        staff.collapsed
                          ? 'bi-plus-circle-fill'
                          : 'bi-dash-circle-fill'
                      "></i>                 
                      </div>
                    </div>  
                    <div ngbAccordion #AccStaff2="ngbAccordion" [closeOthers]="true">
                      <div ngbAccordionItem="staff" #staff="ngbAccordionItem">
                        <div ngbAccordionCollapse>
                          <div ngbAccordionBody>
                            <ng-template>
                              <div class="main-wrap-2">
                                <div class="inline-box" *ngIf="transportPaymentAnalyticsDto.transportPaymentAnalyticsStaffList != null">
                                  <div class="inline-header">
                                    <div class="box">
                                      <div class="title" translate>STAFF_NAME</div>
                                    </div>
                                    <div class="box">
                                      <div class="title" translate>TRANSPORT_TOTAL_FEE</div>
                                    </div>
                                    <div class="box">
                                      <div class="title" translate>TRANSPORT_DISCOUNTED_FEE</div>
                                    </div>
                                    <div class="box">
                                      <div class="title" translate>TRANSPORT_EFFECTIVE_FEE</div>
                                    </div>
                                    <div class="box">
                                      <div class="title" translate>
                                        TRANSPORT_COLLECTION_TILL_DATE
                                      </div>
                                    </div>
                                    <div class="box">
                                      <div class="title" translate>TRANSPORT_RECEIVABLE_FEE</div>
                                    </div>
                                    <div class="box">
                                      <div class="title" translate>TRANSPORT_COLLECTION_IN_%</div>
                                    </div>
  
                                  </div>
                                  <div class="w-100" *ngFor="let staff of transportPaymentAnalyticsDto.transportPaymentAnalyticsStaffList">
                                    <div class="inline-header">
                                      <div class="box">
                                        <div class="content">{{staff.consumerName}}</div>
                                      </div>
                                      <div class="box">
                                        <div class="content">{{staff.transportTotalFee | currency:"INR"}}</div>
                                      </div>
                                      <div class="box">
                                        <div class="content">{{staff.transportDiscountedFee | currency:"INR"}}</div>
                                      </div>
                                      <div class="box">
                                        <div class="content">{{staff.transportEffectiveFee | currency:"INR"}}</div>
                                      </div>
                                      <div class="box">
                                        <div class="content">{{staff.transportCollectionTillDate | currency:"INR"}}</div>
                                      </div>
                                      <div class="box">
                                        <div class="content">{{staff.transportReceivableFee | currency:"INR"}}</div>
                                      </div>
                                      <div class="box">
                                        <div class="content">{{staff.transportCollectionInPercentage}} %</div>
                                      </div>                                     
                                    </div>                                   
                                  </div>
                                </div>
  
                              </div>
  
  
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>             
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>