
.no-data-available {
  text-align: center;
}

.actions-td2 {
  .btn.btn-sm {
    width: auto !important;
    font-size: 11px !important;
    min-width: auto;
  }
}
::ng-deep table.dataTable td.dataTables_empty {
  display: none;
}


