<div class="container-fluid position-relative">
  <div class="d-flex align-items-center page-heading-wrapper">
    <h3 class="page-heading" translate>ADDITIONAL_PAYMENT</h3>
  </div>
 

  <div class="card mb-4">
    <div class="card-body table-body position-relative">
      <div class="search-body search-body-table">
        <!--table search filter start-->
        <form [formGroup]="paymentForm" class="search-filter">
          <div class="row mb-2">
            <div class="col-12 col-md-4" >
              <div class="form-group">
                  <!-- <label for="classId" translate>CLASS</label> -->
                  <select
                  formControlName="classId"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f['classId'].errors
                  }"
                  
                >
                <option [value]="null">
                  <span translate>SELECT_CLASS</span>
                  </option>
                <option *ngFor="let item of divisionGradeMapping" [value]="item.schoolGradeDivisionMatrixId" >
                  {{item.className}}
                </option>
                </select>
                </div>
            </div>
            <div class="col-sm text-right">
              <div class="form-group search-btns-mobile-margin">
                <label for="city" class="d-none">&nbsp;</label>
                <button type="button" (click)="onReset()" class="btn btn-light" translate>
                  RESET
                </button>
                <button type="button"  *ngIf="this.sharedPermissionServiceService.havePermission('Additional Fee Payment','Read')" (click)="search()" class="btn btn-secondary" translate>
                  SEARCH
                </button>
                <button type="button"  *ngIf="!this.sharedPermissionServiceService.havePermission('Additional Fee Payment','Read')" container="body" ngbTooltip="{{ 'YOU_DO_NOT_HAVE_PERMISSION' | translate }}" class="btn btn-secondary btn-disabled" translate>
                  SEARCH
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--table listing statrt-->
      <div id="no-more-tables">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="display table row-border hover"
        >
          <thead>
            <tr>
              <th translate>GRADE</th>
              <th translate>FULL_NAME</th>
              <th translate>Gen Reg No</th>
              <th translate>Is RTE</th>
              <th translate>Total Additional Fee</th>
              <th style="display: none;" translate>CHEQUE_CLEARED_AMOUNT</th>
              <th translate>CHEQUE_UNCLEARED_AMOUNT</th>
              <th style="width: 10%" class="text-end" translate>ACTIONS</th>
            </tr>
          </thead>
          <tbody *ngIf="adhocFeePayments?.length != 0">
            <tr *ngFor="let item of adhocFeePayments index as i">
              <td [attr.data-title]="'GRADE' | translate" [ngClass]="{
                'is-highlighted-student': hlighlightedStudentId == item.studentId
              }">
                {{ item.gradeName }}
              </td>
              <td [attr.data-title]="'FULL_NAME' | translate" [ngClass]="{
                'is-highlighted-student': hlighlightedStudentId == item.studentId
              }">
                {{ item.fullName }}
              </td>
              <td [attr.data-title]="'General Registration No' | translate" [ngClass]="{
                'is-highlighted-student': hlighlightedStudentId == item.studentId
              }">
                {{ item.generalRegistrationNo }}
              </td>
              <td [attr.data-title]="'IS_RTE' | translate" [ngClass]="{
                'is-highlighted-student': hlighlightedStudentId == item.studentId
              }">
                <span *ngIf="item.isRTEStudent == true">Yes</span>
                <span *ngIf="item.isRTEStudent == false">No</span>
              </td>
              <td [attr.data-title]="'Total Additional Fee' | translate" [ngClass]="{
                'is-highlighted-student': hlighlightedStudentId == item.studentId
              }">
                ₹ {{ item.totalFee | number : '1.1-2'}}
              </td>
              <td style="display: none;" [attr.data-title]="'CHEQUE_CLEARED_AMOUNT' | translate" [ngClass]="{
                'is-highlighted-student': hlighlightedStudentId == item.studentId
              }">
                ₹ {{ item.chequeClearedAmount | number : '1.1-2'}}
              </td>
              <td [attr.data-title]="'CHEQUE_UNCLEARED_AMOUNT' | translate" [ngClass]="{
                'is-highlighted-student': hlighlightedStudentId == item.studentId
              }">
                ₹ {{ item.chequeUnclearAmount | number : '1.1-2'}}
              </td>
              <td [attr.data-title]=" 'ACTIONS' | translate" class="action text-center actions-td" [ngClass]="{
                'is-highlighted-student': hlighlightedStudentId == item.studentId
              }">
                <div class="d-flex justify-content-end">
                  <button  *ngIf="this.sharedPermissionServiceService.havePermission('Additional Fee Payment','Create')"
                    type="button"
                    (click)="pay(item)"
                    class="btn btn-primary action-btn"
                  >
                    <span placement="top" ngbTooltip="{{'PAY' | translate}}">
                      <i class="bi bi-credit-card"></i>
                    </span>
                  </button>
                  <button  *ngIf="!this.sharedPermissionServiceService.havePermission('Additional Fee Payment','Create')"
                  type="button"
                  class="btn btn-primary action-btn btn-disabled"
                >
                  <span placement="top" ngbTooltip="{{ 'YOU_DO_NOT_HAVE_PERMISSION' | translate }}">
                    <i class="bi bi-credit-card"></i>
                  </span>
                </button>

                  <button *ngIf="this.sharedPermissionServiceService.havePermission('Additional Fee Payment','Read')"
                    type="button"
                    class="btn btn-secondary action-btn"
                    (click)="paymentHistory(item)"
                  >
                    <span
                      ngbTooltip="{{'PAYMENT_HISTORY' | translate}}"
                      placement="top"
                    >
                      <i class="bi bi-clock-history"></i>
                    </span>
                  </button>
                  <button *ngIf="!this.sharedPermissionServiceService.havePermission('Additional Fee Payment','Read')"
                  type="button"
                  class="btn btn-secondary action-btn btn-disabled"
                >
                  <span
                  ngbTooltip="{{ 'YOU_DO_NOT_HAVE_PERMISSION' | translate }}"
                    placement="top"
                  >
                    <i class="bi bi-clock-history"></i>
                  </span>
                </button>
                </div>

                <!-- <div class="d-flex">
                    <button (click)="pay(item)" class="btn btn-primary btn-sm" translate>PAY</button>
                    <button (click)="paymentHistory()" class="btn btn-secondary btn-sm" translate>PAYMENT_HISTORY</button>
                  </div> -->
              </td>
            </tr>
            <tr *ngIf="adhocFeePayments?.length == 0">
              <td colspan="12" class="no-data-available" translate>NO_RECORDS_FOUND</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
