<ion-header collapse="fade" [translucent]="true" class="modal-header">
  <ion-toolbar>
   

    <ion-title color="dark-color" style="font-weight: bold;">Notice Details</ion-title>
      
  
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">  
  <ion-card-subtitle class="bold-black-text">{{currentNoticeOnPopup.createdDate.format('LL')}}
  </ion-card-subtitle>
  <br>
  <ion-card-subtitle class="message-from">
    <span class="bold-black-text">From: &nbsp;</span>
    <ion-text>{{currentNoticeOnPopup.roleName}}</ion-text>
  </ion-card-subtitle>
  <br>
  <ion-card-subtitle class="message-from">
    <span class="bold-black-text">Notice Title: &nbsp;</span>
    <ion-text [innerHTML]="currentNoticeOnPopup.noticeTitle"></ion-text>
  </ion-card-subtitle>
  <br>
  <ion-card-subtitle class="message-from">
    <span class="bold-black-text">Start Date: &nbsp;</span>
    <ion-text>{{ currentNoticeOnPopup.startDate.format('DD-MMM-YYYY') }}</ion-text>
  </ion-card-subtitle>
  <br>
  <ion-card-subtitle class="message-from">
    <span class="bold-black-text">End Date: &nbsp;</span>
    <ion-text>{{ currentNoticeOnPopup.endDate.format('DD-MMM-YYYY') }}</ion-text>
  </ion-card-subtitle>
  <br>
  <ion-card-subtitle class="message-from">
    <span class="bold-black-text">Important Notice: &nbsp;</span>
    <ion-text>{{ currentNoticeOnPopup.isImportant ? 'Yes' : 'No' }}</ion-text>
    <ion-icon *ngIf="currentNoticeOnPopup.isImportant"></ion-icon>
  </ion-card-subtitle>
  <br>
  <ion-card-subtitle class="message-from">
    <span class="bold-black-text">Notice Description: </span>
    <ion-text [innerHTML]="currentNoticeOnPopup.noticeDescription"></ion-text>
  </ion-card-subtitle>
  
  <div class="download">
    <ion-card-subtitle class="message-from"
      *ngIf="currentNoticeOnPopup.lstNoticeDetail && currentNoticeOnPopup.lstNoticeDetail.length > 0">
      <span class="bold-black-text">Notice Files Download : </span>
    </ion-card-subtitle>
    <div class="uploaded-file-text">
      <span class="file-thumb" *ngFor="let f of currentNoticeOnPopup.lstNoticeDetail; let i = index">
        <img *ngIf="getFileExtension(f.fileName) === 'png'" src="../../../../assets/img/img.png"
          (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'jpeg'" src="../../../../assets/img/img.png"
          (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'jpg'" src="../../../../assets/img/img.png"
          (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'pdf'" src="../../../../assets/img/pdf.png"
          (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'doc'" src="../../../../assets/img/doc.png"
          (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'xls'" src="../../../../assets/img/xlsx.png.png"
          (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'pptx'" src="../../../../assets/img/ppt.png"
          (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'txt'" src="../../../../assets/img/txt.png"
          (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'svg'" src="../../../../assets/img/svg.png"
          (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'csv'" src="../../../../assets/img/csv.png"
          (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'bmp'" src="../../../../assets/img/bmp.png"
          (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'xlsx'" src="../../../../assets/img/xlsx.png"
          (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'docx'" src="../../../../assets/img/docx-file.png"
          (click)="showFile(f)" />


      </span>
    </div>


<div class="download" *ngIf="currentNoticeOnPopup.lstNoticeMediaDetail && hasNonEmptyVideoLinks()">
  <ion-card-subtitle class="message-from">
    <span class="bold-black-text">Notice Media File Download: </span>
  </ion-card-subtitle>
  <div class="videoText video-link-wrap">
    <ul class="black-bullet">
      <li *ngFor="let f of currentNoticeOnPopup.lstNoticeMediaDetail; let i = index">
        <a [href]="f.contentUrl" target="_blank" id="contentUrl_{{i}}">
          {{ f.contentUrl }}
        </a>
      </li>
    </ul>
  </div>
</div>



</div>
</ion-content>
