
  <ion-content>
   
  
    <div class="form-padding new-forms">
      <img src="../../../../assets/change-password.svg" class="w-50 mx-auto d-block"/>
        <form class="form-default" [formGroup]="signin_form">
  
  <h4 class="text-h1">Please enter new password and confirm password</h4>
       
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>New Password</legend> 
          <ion-input
          formControlName="password"
          type="password"
          placeholder="********"
        ></ion-input>
        </fieldset>
      </ion-item>

      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Confirm Password</legend> 
          <ion-input
          formControlName="confirmPassword"
          type="password"
          placeholder="********"
        ></ion-input>
        </fieldset>
      </ion-item>

      </form>
      </div>
  
      <!-- <ion-radio-group>
        <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
        <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
      </ion-radio-group> -->
  
  </ion-content>
  
  <ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp">
    <ion-button class="ion-margin orange-bg-color white-color" shape="round" expand="block" size="large" (click)="signIn()">
  Submit  </ion-button>
    <!-- <ion-button class="ion-margin" expand="block" size="large" color="secondary" (click)="getStarted()">
      Get started
    </ion-button> -->
  </ion-footer>
  