<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title" 
  *ngIf="f['areaId']?.value==0"
  ngbAutofocus translate> ADD_AREA</h4>
  <h4 class="modal-title" id="modal-basic-title"
  *ngIf="f['areaId']?.value>0"
   ngbAutofocus translate> UPDATE_AREA</h4>

</div>
<div class="modal-body">
  <form [formGroup]="areaForm" novalidate>
    
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="form-group">
            <label class="required" translate
              >AREA_NAME <span>*</span></label
            >
            <input
              type="text"
              formControlName="areaName"
              class="form-control"
              placeholder="{{ 'AREA_NAME' | translate }}"
              [ngClass]="{
                'is-invalid': submitted && f['areaName'].errors
              }"
              maxlength="100"
              
            />
            <div
              *ngIf="submitted && f['areaName'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['areaName'].errors['required']">
                <span translate>AREA_NAME</span>
                <span translate> IS_REQUIRED</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="form-group">
            <label class="required" translate
              >PICK_PRICE <span>*</span></label
            >
            <div class="input-group">
              <span class="input-group-text">₹</span>
            <input
              type="text"
              formControlName="pickPrice"
              class="form-control"
              placeholder="{{ 'PICK_PRICE' | translate }}"
              [ngClass]="{
                'is-invalid': submitted && f['pickPrice'].errors
              }"
              step="0.01"
              pattern="^\d+(\.\d{1,2})?$"
              maxlength="7"
            />  
            <div
            *ngIf="submitted && f['pickPrice'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['pickPrice'].errors['required']">
              <span translate>PICK_PRICE</span>
              <span translate> IS_REQUIRED</span>
            </div>
            <div *ngIf="f['pickPrice'].errors['pattern']">
              <span translate>PICK_PRICE</span>
              <span translate> IS_INVALID</span>
          </div>
          </div>        

          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group">
            <label class="required" translate
              >DROP_PRICE <span>*</span></label
            >
            <div class="input-group">
              <span class="input-group-text">₹</span>
            <input
              type="text"
              formControlName="dropPrice"
              class="form-control"
              placeholder="{{ 'DROP_PRICE' | translate }}"
              [ngClass]="{
                'is-invalid': submitted && f['dropPrice'].errors
              }"
              step="0.01"
              pattern="^\d+(\.\d{1,2})?$"
              maxlength="7"
            />
            <div
            *ngIf="submitted && f['dropPrice'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['dropPrice'].errors['required']">
              <span translate>DROP_PRICE</span>
              <span translate> IS_REQUIRED</span>
            </div>
            <div *ngIf="f['dropPrice'].errors['pattern']">
              <span translate>DROP_PRICE</span>
              <span translate> IS_INVALID</span>
          </div>
          </div>
            </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="form-group">
                <label class="required"  translate
                  >PICK_DROP_PRICE <span>*</span></label
                >
                <div class="input-group">
                  <span class="input-group-text">₹</span>
                <input
                  type="text"
                  formControlName="pickAndDropPrice"
                  class="form-control"
                  placeholder="{{ 'PICK_DROP_PRICE' | translate }}"  
                  [ngClass]="{
                    'is-invalid': submitted && f['pickAndDropPrice'].errors
                  }"   
                  step="0.01"
                  pattern="^\d+(\.\d{1,2})?$" 
                  maxlength="7"             
                />
                <div
                *ngIf="submitted && f['pickAndDropPrice'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['pickAndDropPrice'].errors['required']">
                  <span translate>PICK_DROP_PRICE</span>
                  <span translate> IS_REQUIRED</span>
                </div>
                <div *ngIf="f['pickAndDropPrice'].errors['pattern']">
                  <span translate>PICK_DROP_PRICE</span>
                  <span translate> IS_INVALID</span>
              </div>
              </div>

            </div>
        </div>
    </div>
  </div>
    <div class="row">
      <div class="col-12">
          <div class="form-group">
            <label  translate
              >DESCRIPTION  </label
            >
            <input
              type="text"
              formControlName="description"
              class="form-control"
              placeholder="{{ 'DESCRIPTION' | translate }}"
              maxlength="500"
              
            />
          </div>
        </div>
    </div>
 
  </form>
</div>
<div class="modal-footer">
<div class="form-group mb-0">

  <button type="button" class="btn btn-primary" (click)="saveAreaData()"
  translate
  >SAVE</button>
  <button class="btn btn-light" (click)="close()" translate
  >CANCEL</button>

</div>

</div>
