<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title" *ngIf="f['examObjectId']?.value == 0 && !isViewMode" ngbAutofocus translate>ADD_EXAM_OBJECT</h4>
  <h4 class="modal-title" id="modal-basic-title" *ngIf="f['examObjectId']?.value > 0 && !isViewMode" ngbAutofocus translate>UPDATE_EXAM_OBJECT</h4>
  <h4 class="modal-title" id="modal-basic-title" *ngIf="isViewMode" ngbAutofocus translate>VIEW_EXAM_OBJECT</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="examObjectForm" novalidate>
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="form-group">
          <label class="required" translate>EXAM_NAME <span>*</span></label>
          <select (change)="resetSelectList(f, 'examMasterId')" formControlName="examMasterId" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f['examMasterId'].errors }" 
            [attr.disabled]="f['examObjectId']?.value > 0 ? true : null && f['subjectMasterId']?.value > 0 ? true : null">
            <option [value]="null"><span translate>SELECT_EXAM_NAME</span></option>
            <option *ngFor="let item of examNameList" [value]="item.examMasterId">
              <span translate>{{item.examName}}</span>
            </option>
          </select>
          <div *ngIf="submitted && f['examMasterId'].errors" class="invalid-feedback">
            <div *ngIf="f['examMasterId'].errors['required']">
              <span translate>EXAM_NAME</span><span translate> IS_REQUIRED</span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-3">
        <div class="form-group">
          <label class="required" translate>SUBJECT_NAME <span>*</span></label>
          <select (change)="resetSelectList(f, 'subjectMasterId')" formControlName="subjectMasterId" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f['subjectMasterId'].errors }" 
            [attr.disabled]="f['examObjectId']?.value > 0 ? true : null && f['subjectMasterId']?.value > 0 ? true : null">
            <option [value]="null"><span translate>SELECT_SUBJECT_NAME</span></option>
            <option *ngFor="let item of subjectDropdownList" [value]="item.subjectMasterId">
              <span translate>{{item.subjectName}}</span>
            </option>
          </select>
          <div *ngIf="submitted && f['subjectMasterId'].errors" class="invalid-feedback">
            <div *ngIf="f['subjectMasterId'].errors['required']">
              <span translate>SUBJECT_NAME</span><span translate> IS_REQUIRED</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div formArrayName="objectNameDetailsList">
        <div *ngFor="let object of objectNameDetailsList.controls; let i = index; let last = last;" class="create-fee-wrapper-body align-items-center row" [formGroupName]="i">
          <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
              <label class="required" translate>OBJECT_NAME <span>*</span></label>
              <input type="text" formControlName="objectName" id="objectName_{{i}}" class="form-control" placeholder="{{ 'OBJECT_NAME' | translate }}"
                [ngClass]="{ 'is-invalid': submitted && f['objectNameDetailsList'].get(i + '.objectName')?.errors?.['required'] }" maxlength="200"/>
              <div *ngIf="submitted && f['objectNameDetailsList']?.get(i + '.objectName')?.errors?.['required']" class="invalid-feedback">
                <span translate>OBJECT_NAME</span><span translate> IS_REQUIRED</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
              <label class="required" translate>OUT_OF_MARKS <span>*</span></label>
              <input type="text" formControlName="outOfMarks" class="form-control" placeholder="{{ 'OUT_OF_MARKS' | translate }}"
                [ngClass]="{ 'is-invalid': submitted && f['objectNameDetailsList'].get(i + '.outOfMarks')?.errors?.['required'] }" maxlength="5" pattern="[0-9]*" inputmode="numeric"
                oninput="this.value = this.value.replace(/\D+/g, '')"/>
              <div *ngIf="submitted && f['objectNameDetailsList']?.get(i + '.outOfMarks')?.errors?.['required']" class="invalid-feedback">
                <span translate>OUT_OF_MARKS</span><span translate> IS_REQUIRED</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-4 d-flex align-items-center">
            <button type="button" *ngIf="last && !isViewMode" (click)="addExamObject()" class="btn btn-secondary action-btn me-2">
              <i class="bi bi-plus-lg" placement="top" ngbTooltip="Actions"></i>
            </button>
            <button type="button" *ngIf="objectNameDetailsList.length > 1 && !isViewMode" (click)="removeExamObject(i)" class="btn btn-danger action-btn">
              <i class="bi bi-dash-lg" placement="top" ngbTooltip="Actions"></i>
            </button>
          </div>
         
          <div class="col-12 col-md-12 col-lg-12" >
            <span *ngIf="errorMessage1" class="text-danger text-center" translate="">{{ errorMessage1[i]}}</span>
          </div>
          
        </div>
        <div class="col-12 col-md-12 col-lg-12" >
          <span *ngIf="errorMessage" class="text-danger text-center" translate="">{{ errorMessage}}</span>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="form-group mb-0">
    <button type="button" *ngIf="!isViewMode" class="btn btn-primary" (click)="saveExamObjectData()" translate>SAVE</button>
    <button class="btn btn-light" (click)="close()" translate>CANCEL</button>
  </div>
</div>
