<div class="modal-header">
  <h4 translate class="modal-title" id="modal-basic-title" ngbAutofocus translate>
    ADD_SCHOOL_HOLIDAY
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body">
  <form class="search-filter" [formGroup]="addSchoolHolidayForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12">
        <div formArrayName="holidayTypeDetailsList">
          <div *ngFor="let holiday of holidayTypeDetailsList; let i = index; let last=last;"
            class="create-fee-wrapper-body align-items-center row" [formGroupName]="i">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <div class="form-group datepicker">
                <label class="required" translate>SELECT_HOLIDAY_DATE<span>*</span></label>
                <input type="text" formControlName="ngbCalendarDate" class="form-control"
                  placeholder="{{ 'DATE' | translate }}"
                  [ngClass]="{ 'is-invalid': submitted && f['holidayTypeDetailsList'].get(i + '.ngbCalendarDate')?.errors?.['required'] }"
                  ngbDatepicker [minDate]="minDate" [maxDate]="maxDate" [readonly]="true"
                  #startDateDatepicker="ngbDatepicker" (click)="startDateDatepicker.toggle()" />
                <div class="calendar" (click)="startDateDatepicker.toggle()">
                  <i class="bi bi-calendar3"></i>
                </div>
                <div *ngIf="submitted && f['holidayTypeDetailsList']?.get(i + '.ngbCalendarDate')?.errors?.['required']"
                  class="invalid-feedback">
                  <div>
                    <span translate>HOLIDAY_DATE</span>
                    <span translate> IS_REQUIRED</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <div class="form-group datepicker">
                <label class="required" translate>SELECT_HOLIDAY_DATE<span>*</span></label>
                <input type="text" formControlName="ngbCalendarDate" class="form-control"
                  placeholder="{{ 'DATE' | translate }}"
                  ngbDatepicker [minDate]="minDate" [maxDate]="maxDate" #startDateDatepicker="ngbDatepicker"
                   /> 
                <div class="calendar" (click)="startDateDatepicker.toggle()">
                  <i class="bi bi-calendar3"></i>
                </div>
              </div>
            </div> -->

            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="eventTitle" class="required" translate>HOLIDAY_REASON <span>*</span></label>
                <input id="holidayReason" type="text" formControlName="holidayReason" class="form-control"
                  placeholder="{{ 'HOLIDAY_REASON' | translate }}"
                  [ngClass]="{ 'is-invalid': submitted && f['holidayTypeDetailsList'].get(i + '.holidayReason')?.errors?.['required']}" />
                <div *ngIf="submitted && f['holidayTypeDetailsList']?.get(i + '.holidayReason')?.errors?.['required']"
                  class="invalid-feedback">
                  <div>
                    <span translate>HOLIDAY_REASON</span>
                    <span translate> IS_REQUIRED</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <div class="form-group">
                <label class="required" translate>HOLIDAY_REASON<span>*</span></label>
                <input type="text" formControlName="holidayReason" id="holidayReason{{i}}" class="form-control"
                  placeholder="{{ 'REASON' | translate }}" maxlength="1000"
                  [ngClass]="{ 'is-invalid': submitted && holiday.get('holidayReason')?.errors }" />

                <div *ngIf="submitted && holiday.get('holidayReason')?.errors" class="invalid-feedback">
                  <div *ngIf="submitted && holiday.get('holidayReason')?.hasError('required')">
                    <span translate>REASON</span>
                    <span translate>IS_REQUIRED</span>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-2 align-items-end d-flex">
              <button type="button" *ngIf="last" (click)="addSchoolHoliday()" class="btn btn-secondary action-btn">
                <i class="bi bi-plus-lg" placement="top" ngbTooltip="Actions"></i>
              </button>
              <button type="button" *ngIf="holidayTypeDetailsList.length>1" (click)="removeSchoolHoliday(i)"
                class="btn btn-danger action-btn">
                <i class="bi bi-dash-lg" placement="top" ngbTooltip="Actions"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer pb-0">
      <button type="submit" class="btn btn-primary" translate>
        SAVE
      </button>
      <button class="btn btn-light" (click)="close()" translate>CLOSE</button>

    </div>
  </form>
</div>