<div
  class="container-fluid"
  *ngIf="
    fetchedInfo &&
    fetchedInfo != null &&
    fetchedInfo != undefined &&
    fetchedInfo.academicYearId > 0 &&
    fetchedInfo.feePaymentParticularsList != null
  "
>
  <div class="d-flex align-items-center page-heading-wrapper">
    <h3 class="page-heading" translate>PAYMENT_CHECK_OUT</h3>
    <a routerLink="/fee-management/view-payment" class="back-arrow"
      ><i class="bi bi-arrow-left-circle"></i
    ></a>

    <!-- <button class="btn btn-with-icon with-text btn-primary ms-auto" (click)="openLg(contentLg)" translate>ADD</button> -->
  </div>

  <div class="card mb-4 d-md-block">
    <div class="card-header">
      <h4 class="card-title" translate>STUDENT_INFORMATION</h4>
    </div>
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="divisionId" translate>STUDENT_NAME</label>:
            <label class="read-only-lable">{{ fetchedInfo.fullName }}</label>
          </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="divisionId" translate>REGISTRATION_NO</label>:
            <label class="read-only-lable">{{
              fetchedInfo.generalRegistrationNo
            }}</label>
          </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="divisionId" translate>ROLL_NO</label>:
            <label class="read-only-lable">{{ fetchedInfo.rollNumber }}</label>
          </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="divisionId" translate>GRADE_AND_DIVISION</label>:
            <label class="read-only-lable"
              >{{ fetchedInfo.gradeName }} -
              {{ fetchedInfo.divisionName }}</label
            >
          </div>
        </div>

        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="divisionId" translate>IS_NEW_STUDENT</label>:
            <label class="read-only-lable">{{
              fetchedInfo.isNewStudent == true ? "Yes" : "No"
            }}</label>
          </div>
        </div>

        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="divisionId" translate>IS_RTE</label>:
            <label class="read-only-lable">{{
              fetchedInfo.isRTEStudent == true ? "Yes" : "No"
            }}</label>
          </div>
        </div>

        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="divisionId" translate>MOBILE_NO</label>:
            <label class="read-only-lable">{{
              fetchedInfo.appAccessMobileNo
            }}</label>
          </div>
        </div>

        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="divisionId" translate>ACADEMIC_YEAR</label>:
            <label class="read-only-lable" translate>{{
              getAcademicYearValue()
            }}</label>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex cg-20">
            <div
              *ngIf="fetchedInfo.isConsationApplicable == true"
              class="py-1 {{
                fetchedInfo.consationAmount > 0 ? 'green-notify' : ''
              }}"
            >
              <label for="divisionId" translate>CONSATION_AMOUNT</label>:
              <label class="read-only-lable" translate>{{
                fetchedInfo.consationAmount
              }}</label>
            </div>

            <!-- <div
              *ngIf="fetchedInfo.previousAcademicYearPendingFeeAmount >= 0"
              class="py-1 {{
                fetchedInfo.previousAcademicYearPendingFeeAmount > 0
                  ? 'ay-notify'
                  : ''
              }}"
            >
              <label for="previousAcademicYearPendingFeeAmount" translate
                >PREVIOUS_ACADEMIC_AY_PENDING_FEE</label
              >:
              <label class="read-only-lable" translate>{{
                fetchedInfo.previousAcademicYearPendingFeeAmount
              }}</label>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <app-fee-pending-due-by-ac
      [currentAcademicYearInclude]="false"
      [studentId]="studentId"
    ></app-fee-pending-due-by-ac>
   
  </div>
  
  <div
  class="card mb-4 d-md-block"
  *ngIf="discountMaterInfo && discountMaterInfo.length > 0"
>
  <div class="card-header">
    <h4 class="card-title" translate>
      SELECT_THE_PAYEMENT_TERM_AND_DISCOUNT
    </h4>
  </div>
  <div class="card-body">
    <div class="fees-plan-cards my-0" *ngIf="disabledAllTheDiscOptions()">
      <div
        ngbTooltip="{{ getDiscToolTip(disc) }}"
        [ngClass]="
          disc.appliedFeeParticularWavierMappingId ==
          disc.feeParticularWavierMappingId
            ? 'whole applied-active'
            : 'whole inactive'
        "
        *ngFor="let disc of discountMaterInfo"
      >
        <div class="type type-1">{{ disc.feeWavierDisplayName }}</div>
        <div class="plan">
          <div class="header">
            {{ disc.totalFee | currency : "INR" }}
            <p class="month">Total Fee</p>
          </div>
          <div class="header">
            {{ disc.discountInPercent }}%
            <p class="month">Applicable Discount</p>
          </div>
          <div class="header">
            {{ disc.applicableFee | currency : "INR" }}
            <p class="month">Applicable Fee</p>
          </div>
          <div class="header">
            {{ disc.numberOfInstallments }}
            <p class="month" translate>
              INSTALLMENTS
              <span
                (click)="
                  getInstallmentToolTip(
                    disc.feeWavierTypeId,
                    disc.feeWavierDisplayName
                  )
                "
                class="bi bi-info-circle cursor"
              ></span>
            </p>
          </div>

          <div class="btn-container" *ngIf="disabledAllTheDiscOptions()">
            <i
              class="bi bi-check-circle-fill"
              *ngIf="
                disc.appliedFeeParticularWavierMappingId ==
                disc.feeParticularWavierMappingId
              "
            ></i>
            <button
              *ngIf="
                disc.appliedFeeParticularWavierMappingId ==
                disc.feeParticularWavierMappingId
              "
              class="btn btn-with-icon with-text btn-secondary ms-auto applied-btn"
              translate
            >
              Applied
            </button>
          </div>
          <div class="btn-container" *ngIf="disabledAllTheDiscOptions()">
            <button
              *ngIf="
                disc.appliedFeeParticularWavierMappingId !=
                disc.feeParticularWavierMappingId
              "
              class="btn btn-with-icon with-text btn-secondary ms-auto"
              translate
            >
              APPLY
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="fees-plan-cards my-0" *ngIf="!disabledAllTheDiscOptions()">
      <div
        ngbTooltip="{{ getDiscToolTip(disc) }}"
        class="whole"
        [ngClass]="{'active' : disc.feeParticularWavierMappingId == appliedDiscId,
         'inactive' :  
         (appliedDiscId > 0 && disc.feeParticularWavierMappingId != appliedDiscId)}"
        *ngFor="let disc of discountMaterInfo"
      >
        <div class="type type-1">{{ disc.feeWavierDisplayName }}</div>
        <div class="plan">
          <div class="header">
            {{ disc.totalFee | currency : "INR" }}
            <p class="month" translate>TOTAL_FEE</p>
          </div>
          <div class="header">
            {{ disc.discountInPercent }}%
            <p class="month" translate>APPLICABLE_DISCOUNT</p>
          </div>
          <div class="header">
            {{ disc.applicableFee | currency : "INR" }}
            <p class="month" translate>APPLICABLE_FEE</p>
          </div>
          <div class="header">
            {{ disc.numberOfInstallments }}
            <p class="month" translate>
              INSTALLMENTS
              <span
                (click)="
                  getInstallmentToolTip(
                    disc.feeWavierTypeId,
                    disc.feeWavierDisplayName
                  )
                "
                class="bi bi-info-circle cursor"
              ></span>
            </p>
          </div>

          <div
            class="btn-container"
            *ngIf="
              appliedDiscId > 0 &&
              appliedDiscId == disc.feeParticularWavierMappingId
            "
          >
            <button
              class="btn btn-with-icon with-text btn-danger ms-auto"
              translate
              (click)="removeWaiverTypeDisc(disc)"
            >
              REMOVE
            </button>
          </div>
          <div
            class="btn-container"
            *ngIf="
              appliedDiscId > 0 &&
              appliedDiscId != disc.feeParticularWavierMappingId
            "
          >
            <button
              class="btn btn-with-icon with-text btn-secondary ms-auto"
              translate
            >
              APPLY
            </button>
          </div>
          <div class="btn-container" *ngIf="appliedDiscId == 0">
            <!-- *ngIf="appliedDiscId == 0 && checkDate(disc)" -->
            <button
              (click)="applyWaiverTypeDisc(disc)"
              class="btn btn-with-icon with-text btn-secondary ms-auto"
              translate
            >
              APPLY
            </button>
          </div>
          <div
            class="btn-container d-none"
            *ngIf="appliedDiscId == 0 && !checkDate(disc)"
          >
            <!-- class="btn-container d-none" -->
            <button
              class="btn btn-with-icon with-text btn-secondary ms-auto"
              translate
            >
              APPLY
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr *ngIf="appliedFeeWavierTypeId > 0" />
    <!-- start fee payments terms-->
    <div
      class="card-header"
      *ngIf="appliedFeeWavierTypeId > 0"
      style="margin-bottom: 15px"
    >
      <h4 class="card-title" translate>Payment Installments</h4>
    </div>
    <div class="fees-plan-cards my-0" *ngIf="appliedFeeWavierTypeId > 0">
      <div
        class="whole"
        [ngClass]="{
          active: disc.installmentNumber == currentOfInstallment,
          inactive: disc.installmentNumber != currentOfInstallment
        }"
        *ngFor="let disc of availFeeWavierDiscByInstallments"
      >
        <div class="type type-1">
          Installment - {{ disc.installmentNumber }}
        </div>
        <div class="plan">
          <div class="header">
            {{ getInstallmentApplicableFee(disc) | currency : "INR" }}
            <p class="month" translate>APPLICABLE_FEE</p>
          </div>
          <div class="header" *ngIf="installmentDiscountInPercent > 0">
            {{ getFormattedDate(disc.discountEndDate) }}
            <p class="month" translate>EXPIRY_DATE</p>
          </div>

          <div class="btn-container">
            <button
              class="btn btn-with-icon with-text btn-secondary ms-auto disabled"
              translate
            >
              {{ getInstallmentStatus(disc) }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end fee payments terms-->
  </div>
</div>

<div class="card mb-4 d-md-block">
  <div class="card-header">
    <h4 class="card-title" translate>ADDITIONAL_DISCOUNT</h4>
  </div>
  <div class="card-body">
    <button
      *ngIf="dueAmount > 0"
      (click)="addAddnDisc()"
      class="btn btn-with-icon with-text btn-primary ms-auto mb-3"
      translate
    >
      ADD_ADDITIONAL_DISCOUNT
    </button>

        <div class="fees-plan-cards additional-d-card my-0">
          <!-- Existing Disc -->
          <!-- [ngClass]="{
        'whole inactive':true
      }" -->
          <div
            class="whole whole-d"
            *ngFor="let disc of fetchedInfo.feePaymentAdditionalDiscountList"
          >
            <div class="type type-d">Additional Discount</div>
            <div class="plan">
              <div class="header">
                <p class="month" translate>Installment No.</p>
                {{ disc.paymentInstallmentNumber }}
              </div>
              <div class="header">
                <p class="month" translate>Payble Fee</p>
                {{ disc.installmentPaybleFee | currency : "INR" }}
              </div>
              <div class="header">
                <p class="month" translate>APPLIED_DISCOUNT</p>
                {{ disc.additionalDiscountedAmount | currency : "INR" }}
              </div>
              <div class="header">
                <p class="month" translate>DATE</p>
                {{ disc.appliedDate }}
              </div>
              <div class="header">
                <p class="month" translate>Remark</p>
                <span ngbTooltip="{{ disc.additionalDiscountedRemark }}">{{
                  disc.additionalDiscountedRemark &&
                  disc.additionalDiscountedRemark.length > 15
                    ? disc.additionalDiscountedRemark.substring(0, 12) + "..."
                    : disc.additionalDiscountedRemark
                }}</span>
              </div>
            </div>
          </div>
          <!-- Additional Disc -->
          <div class="whole" *ngIf="showAddnDisc">
            <div class="type type-1 px-2" translate>
              ADDITIONAL_DISCOUNT
              <span (click)="removeAddnDisc()" class="ms-auto cursor"
                ><i class="bi bi-x-circle-fill"></i
              ></span>
            </div>
            <div class="plan">
              <div class="header">
                {{ dueAmount | currency : "INR" }}
                <p class="month">Payble Amount</p>
              </div>
              <div class="header">
                <input
                  *ngIf="!isAddionalDiscApplied"
                  type="text"
                  class="form-control"
                  placeholder="{{ 'REMARK' | translate }}"
                  [(ngModel)]="additionalRemark"
                />
                <input
                  *ngIf="isAddionalDiscApplied"
                  type="text"
                  class="form-control"
                  placeholder="{{ 'REMARK' | translate }}"
                  value="{{ additionalRemark }}"
                  disabled
                />
              </div>
              <div class="header">
                <input
                  *ngIf="!isAddionalDiscApplied"
                  type="number"
                  class="form-control"
                  placeholder="{{ 'DISCOUNT_AMOUNT' | translate }}"
                  [(ngModel)]="additionalAmount"
                  appTwoDigitDecimalPositiveNumber
                />
                <input
                  *ngIf="isAddionalDiscApplied"
                  type="text"
                  class="form-control"
                  placeholder="{{ 'DISCOUNT_AMOUNT' | translate }}"
                  value="{{ additionalAmount | currency : 'INR' }}"
                  disabled
                />
              </div>
              <!-- <div class="btn-container pb-0">
              <span
                class="upload-icon-cursor"
                ngbTooltip="{{ 'UPLOAD_SUPPORTING_DOCUMENT' | translate }}"
                ><i class="bi bi-cloud-arrow-up text-primary"></i
              ></span>
            </div> -->

          <div class="btn-container">
            <button
              *ngIf="!isAddionalDiscApplied"
              class="btn btn-with-icon with-text btn-secondary ms-auto"
              translate
              (click)="applyAdditionalDisc()"
            >
              APPLY
            </button>
            <button
              *ngIf="isAddionalDiscApplied"
              class="btn btn-with-icon with-text btn-danger ms-auto"
              translate
              (click)="removeAdditionalDisc()"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div
    *ngIf="
      fetchedInfo &&
      fetchedInfo != null &&
      fetchedInfo != undefined &&
      fetchedInfo.academicYearId > 0 &&
      fetchedInfo.feePaymentParticularsList != null
    "
  >
    <div class="card mb-4">
      <div class="card-header">
        <h4 class="card-title" translate>PARTICULARS</h4>
        <div class="installments-right ms-md-auto w-25 d-none">
          <span>Installment</span>
          <ngb-progressbar
            type="warning"
            [value]="25"
            [striped]="true"
            [animated]="true"
            ><i>1</i></ngb-progressbar
          >
          <p class="text-end mb-0">out of 10</p>
          <!-- <span>08</span> <span>Installment out of </span> <span>10</span> -->
        </div>
        <div
          *ngIf="disabledManuallyPayFeeTextBoxes()"
          class="installments-right ms-md-auto"
        >
          <span *ngIf="fetchedInfo.skipDiscountCount > 0" class="ins-text"
            >You have missed
            <span class="text-danger fw-bold">{{
              fetchedInfo.skipDiscountCount
            }}</span>
            <span *ngIf="fetchedInfo.skipDiscountCount > 1"> discounts</span>
            <span *ngIf="fetchedInfo.skipDiscountCount == 1"> discount</span>
            due to 'discount end date' expired.
          </span>
          <span class="ins-text">Installment No </span>
          <span class="ins-total"
            >{{ currentOfInstallment }}/{{ numberOfInstallment }}</span
          >
        </div>
      </div>

      <div class="card-body table-body">
        <!--table listing statrt-->
        <div id="no-more-tables">
          <table id="table_id" class="display table table-bordered">
            <thead>
              <tr>
                <th translate>PARTICULAR</th>
                <th translate>TOTAL_FEE</th>
                <th translate>FEE_AFTER_DISCOUNT</th>
                <th class="fee-imp" translate>PAYBLE_FEE</th>
                <th translate>DUE_AMOUNT</th>
                <th translate>ALREADY_PAID</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let particular of fetchedInfo.feePaymentParticularsList"
              >
                <td
                  *ngIf="particular.feeParticularId > 0"
                  [attr.data-title]="'PARTICULAR' | translate"
                >
                  {{ particular.particularName }}
                </td>
                <td
                  *ngIf="particular.feeParticularId > 0"
                  [attr.data-title]="'TOTAL_FEE' | translate"
                >
                  <div class="input-group">
                    <span class="input-group-text">₹</span>
                    <input
                      type="text"
                      class="form-control"
                      value="{{ particular.totalFee | number : '1.1-2' }}"
                      disabled
                    />
                  </div>
                </td>
                <td
                  *ngIf="particular.feeParticularId > 0"
                  [attr.data-title]="'FEE_AFTER_DISCOUNT' | translate"
                >
                  <div class="input-group">
                    <span class="input-group-text">₹</span>
                    <input
                      type="text"
                      class="form-control"
                      value="{{
                        particular.feeAfterDiscount | number : '1.1-2'
                      }}"
                      disabled
                    />
                  </div>
                </td>
                <td
                  class="fee-imp"
                  *ngIf="particular.feeParticularId > 0"
                  [attr.data-title]="'PAYBLE_FEE' | translate"
                >
                  <div
                    [ngClass]="
                      !disabledManuallyPayFeeTextBoxes() &&
                      paySubmitted &&
                      (particular.paybleFee == null ||
                        particular.paybleFee == undefined)
                        ? 'input-group required-input'
                        : 'input-group'
                    "
                  >
                    <span class="input-group-text">₹</span>
                    <input
                      *ngIf="disabledManuallyPayFeeTextBoxes()"
                      type="text"
                      class="form-control"
                      value="{{ particular.paybleFee | number : '1.1-2' }}"
                      disabled
                    />
                    <input
                      *ngIf="!disabledManuallyPayFeeTextBoxes() && particular.dueAmount > 0"
                      type="text"
                      class="form-control"
                      [(ngModel)]="particular.paybleFee"
                      appTwoDigitDecimalPositiveNumber
                    />
                    <input
                      *ngIf="!disabledManuallyPayFeeTextBoxes() && particular.dueAmount <= 0"
                      type="text"
                      class="form-control"
                      value="{{ particular.paybleFee | number : '1.1-2' }}"
                      disabled
                    />
                  </div>
                </td>
                <td
                  *ngIf="particular.feeParticularId > 0"
                  [attr.data-title]="'DUE_AMOUNT' | translate"
                >
                  <div class="input-group">
                    <span class="input-group-text">₹</span>
                    <input
                      type="text"
                      class="form-control"
                      value="{{ particular.dueAmount | number : '1.1-2' }}"
                      disabled
                    />
                  </div>
                </td>
                <td
                  *ngIf="particular.feeParticularId > 0"
                  [attr.data-title]="'ALREADY_PAID' | translate"
                >
                  <div class="input-group">
                    <span class="input-group-text">₹</span>
                    <input
                      type="text"
                      class="form-control"
                      value="{{ particular.alreadyPaid | number : '1.1-2' }}"
                      disabled
                    />
                  </div>
                </td>

                <!-- <td *ngIf="particular.feeParticularId == 0" [attr.data-title]="'PARTICULAR' | translate">
                <input
                    type="text"
                    placeholder="Other Fee"
                    class="form-control"
                    [(ngModel)]="particular.particularName"
                  />
              </td>
              <td *ngIf="particular.feeParticularId == 0" [attr.data-title]="'TOTAL_FEE' | translate">
                <div class="input-group">
                  <span class="input-group-text">₹</span>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="particular.totalFee"
                    appTwoDigitDecimalPositiveNumber
                  />
                </div>
              </td>
              <td *ngIf="particular.feeParticularId == 0" [attr.data-title]="'FEE_AFTER_DISCOUNT' | translate">
                <div class="input-group">
                  <span class="input-group-text">₹</span>
                  <input
                    type="text"
                    class="form-control"
                    value="{{ particular.totalFee | number : '1.1-2'}}"
                    disabled
                  />
                </div>
              </td>
              <td class="fee-imp" *ngIf="particular.feeParticularId == 0" [attr.data-title]="'PAYBLE_FEE' | translate">
                <div class="input-group">
                  <span class="input-group-text">₹</span>
                  <input
                    type="text"
                    class="form-control"
                    value="{{ particular.totalFee | number : '1.1-2'}}"
                    disabled
                  />
                </div>
              </td>
              <td *ngIf="particular.feeParticularId == 0" [attr.data-title]="'DUE_AMOUNT' | translate">
                <div class="input-group">
                  <span class="input-group-text">₹</span>
                  <input
                    type="text"
                    class="form-control"
                    value="{{ particular.totalFee | number : '1.1-2'}}"
                    disabled
                  />
                </div>
              </td>
              <td *ngIf="particular.feeParticularId == 0" [attr.data-title]="'ALREADY_PAID' | translate">
                <div class="input-group">
                  <span class="input-group-text">₹</span>
                  <input
                    type="text"
                    class="form-control"
                    value="{{ particular.alreadyPaid | number : '1.1-2'}}"
                    disabled
                  />
                </div>
              </td> -->
              </tr>

              <tr>
                <td [attr.data-title]="'PARTICULAR' | translate">
                  <input
                    type="text"
                    class="form-control"
                    value="{{ getTotalRow().particularName }}"
                    disabled
                  />
                </td>
                <td [attr.data-title]="'TOTAL_FEE' | translate">
                  <div class="input-group">
                    <span class="input-group-text">₹</span>
                    <input
                      type="text"
                      class="form-control"
                      value="{{ getTotalRow().totalFee | number : '1.1-2' }}"
                      disabled
                    />
                  </div>
                </td>
                <td [attr.data-title]="'FEE_AFTER_DISCOUNT' | translate">
                  <div class="input-group">
                    <span class="input-group-text">₹</span>
                    <input
                      type="text"
                      class="form-control"
                      value="{{
                        getTotalRow().feeAfterDiscount | number : '1.1-2'
                      }}"
                      disabled
                    />
                  </div>
                </td>
                <td
                  class="fee-imp"
                  [attr.data-title]="'PAYBLE_FEE' | translate"
                >
                  <div class="input-group">
                    <span class="input-group-text">₹</span>
                    <input
                      type="text"
                      class="form-control fw-bold"
                      value="{{ getTotalRow().paybleFee | number : '1.1-2' }}"
                      disabled
                    />
                  </div>
                </td>
                <td [attr.data-title]="'DUE_AMOUNT' | translate">
                  <div class="input-group">
                    <span class="input-group-text">₹</span>
                    <input
                      type="text"
                      class="form-control"
                      value="{{ getTotalRow().dueAmount | number : '1.1-2' }}"
                      disabled
                    />
                  </div>
                </td>
                <td [attr.data-title]="'ALREADY_PAID' | translate">
                  <div class="input-group">
                    <span class="input-group-text">₹</span>
                    <input
                      type="text"
                      class="form-control"
                      value="{{ getTotalRow().alreadyPaid | number : '1.1-2' }}"
                      disabled
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card mb-4 d-md-block">
      <div class="card-header">
        <h4 class="card-title" translate>PAYMENT_SUMMARY</h4>
      </div>
      <div class="card-body payment-summary-cards">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          class="nav-tabs nav-tabs-buttons-card"
        >
          <li [ngbNavItem]="1">
            <a ngbNavLink
              ><i class="bi bi-cash"></i> <span translate>CASH</span></a
            >
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title" translate>CASH</h4>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group datepicker">
                      <label class="required" translate
                        >PAYMENT_DATE<span>*</span></label
                      >

                      <input
                        type="text"
                        class="form-control"
                        placeholder="{{ 'PAYMENT_DATE' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted &&
                            !feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        }"
                        [(ngModel)]="
                          feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        "
                        ngbDatepicker
                        [minDate]="{ year: 1901, month: 1, day: 1 }"
                        [maxDate]="{ year: 2100, month: 1, day: 1 }"
                        [readonly]="true"
                        #birthDateDatepicker="ngbDatepicker"
                        (click)="birthDateDatepicker.toggle()"
                      />
                      <div
                        class="calendar"
                        (click)="birthDateDatepicker.toggle()"
                      >
                        <i class="bi bi-calendar3"></i>
                      </div>

                      <div
                        *ngIf="
                          paySubmitted &&
                          !feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>PAYMENT_DATE</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>
              <i class="bi bi-cash"></i> <span translate>CHEQUE</span></a
            >
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title" translate>CHEQUE</h4>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label class="required" translate
                        >CHEQUE_NO <span>*</span></label
                      >
                      <input
                        type="text"
                        [(ngModel)]="feePaymentUpsertDto.chequeNumber"
                        class="form-control"
                        placeholder="{{ 'CHEQUE_NO' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted && !feePaymentUpsertDto.chequeNumber
                        }"
                      />
                      <div
                        *ngIf="
                          paySubmitted && !feePaymentUpsertDto.chequeNumber
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>CHEQUE_NO</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group datepicker">
                      <label class="required" translate
                        >PAYMENT_DATE<span>*</span></label
                      >

                      <input
                        type="text"
                        [(ngModel)]="
                          feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        "
                        class="form-control"
                        placeholder="{{ 'PAYMENT_DATE' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted &&
                            !feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        }"
                        ngbDatepicker
                        [minDate]="{ year: 1901, month: 1, day: 1 }"
                        [maxDate]="{ year: 2100, month: 1, day: 1 }"
                        [readonly]="true"
                        #birthDateDatepicker="ngbDatepicker"
                        (click)="birthDateDatepicker.toggle()"
                      />
                      <div
                        class="calendar"
                        (click)="birthDateDatepicker.toggle()"
                      >
                        <i class="bi bi-calendar3"></i>
                      </div>

                      <div
                        *ngIf="
                          paySubmitted &&
                          !feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>PAYMENT_DATE</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label class="required" translate
                        >BANK_NAME <span>*</span></label
                      >
                      <input
                        type="text"
                        [(ngModel)]="feePaymentUpsertDto.chequeBank"
                        class="form-control"
                        placeholder="{{ 'BANK_NAME' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted && !feePaymentUpsertDto.chequeBank
                        }"
                      />
                      <div
                        *ngIf="paySubmitted && !feePaymentUpsertDto.chequeBank"
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>BANK_NAME</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group datepicker">
                      <label class="required" translate
                        >CLEARING_DATE<span>*</span></label
                      >
                      <input
                        type="text"
                        [(ngModel)]="feePaymentUpsertDto.ngbChequeDate"
                        class="form-control"
                        placeholder="{{ 'CLEARING_DATE' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted && !feePaymentUpsertDto.ngbChequeDate
                        }"
                        ngbDatepicker
                        [minDate]="{ year: 1901, month: 1, day: 1 }"
                        [maxDate]="{ year: 2100, month: 1, day: 1 }"
                        [readonly]="true"
                        #birthDateDatepicker1="ngbDatepicker"
                        (click)="birthDateDatepicker1.toggle()"
                      />
                      <div
                        class="calendar"
                        (click)="birthDateDatepicker1.toggle()"
                      >
                        <i class="bi bi-calendar3"></i>
                      </div>
                      <div
                        *ngIf="
                          paySubmitted && !feePaymentUpsertDto.ngbChequeDate
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>CLEARING_DATE</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label class="required" translate
                        >IS_CHEQUE_CLEARED<span></span
                      ></label>
                      <div class="new-checkbox">
                        <input
                          type="checkbox"
                          id="check4"
                          [(ngModel)]="feePaymentUpsertDto.isChequeClear"
                        />
                        <label for="check4" translate></label>
                      </div>
                      <div *ngIf="submitted" class="invalid-feedback">
                        <div>
                          <span translate>IS_CHEQUE_CLEARED</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>
              <i class="bi bi-bank"></i> <span translate>DD</span></a
            >
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title" translate>DD</h4>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label class="required" translate
                        >DD_NO <span>*</span></label
                      >
                      <input
                        type="text"
                        [(ngModel)]="feePaymentUpsertDto.chequeNumber"
                        class="form-control"
                        placeholder="{{ 'DD_NO' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted && !feePaymentUpsertDto.chequeNumber
                        }"
                      />
                      <div
                        *ngIf="
                          paySubmitted && !feePaymentUpsertDto.chequeNumber
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>DD_NO</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group datepicker">
                      <label class="required" translate
                        >PAYMENT_DATE<span>*</span></label
                      >

                      <input
                        type="text"
                        [(ngModel)]="
                          feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        "
                        class="form-control"
                        placeholder="{{ 'PAYMENT_DATE' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted &&
                            !feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        }"
                        ngbDatepicker
                        [minDate]="{ year: 1901, month: 1, day: 1 }"
                        [maxDate]="{ year: 2100, month: 1, day: 1 }"
                        [readonly]="true"
                        #birthDateDatepicker="ngbDatepicker"
                        (click)="birthDateDatepicker.toggle()"
                      />
                      <div
                        class="calendar"
                        (click)="birthDateDatepicker.toggle()"
                      >
                        <i class="bi bi-calendar3"></i>
                      </div>

                      <div
                        *ngIf="
                          paySubmitted &&
                          !feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>PAYMENT_DATE</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label class="required" translate
                        >BANK_NAME <span>*</span></label
                      >
                      <input
                        type="text"
                        [(ngModel)]="feePaymentUpsertDto.chequeBank"
                        class="form-control"
                        placeholder="{{ 'BANK_NAME' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted && !feePaymentUpsertDto.chequeBank
                        }"
                      />
                      <div
                        *ngIf="paySubmitted && !feePaymentUpsertDto.chequeBank"
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>BANK_NAME</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group datepicker">
                      <label class="required" translate
                        >CLEARING_DATE<span>*</span></label
                      >
                      <input
                        type="text"
                        [(ngModel)]="feePaymentUpsertDto.ngbChequeDate"
                        class="form-control"
                        placeholder="{{ 'CLEARING_DATE' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted && !feePaymentUpsertDto.ngbChequeDate
                        }"
                        ngbDatepicker
                        [minDate]="{ year: 1901, month: 1, day: 1 }"
                        [maxDate]="{ year: 2100, month: 1, day: 1 }"
                        [readonly]="true"
                        #birthDateDatepickerd="ngbDatepicker"
                        (click)="birthDateDatepickerd.toggle()"
                      />
                      <div
                        class="calendar"
                        (click)="birthDateDatepickerd.toggle()"
                      >
                        <i class="bi bi-calendar3"></i>
                      </div>
                      <div
                        *ngIf="
                          paySubmitted && !feePaymentUpsertDto.ngbChequeDate
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>CLEARING_DATE</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label class="required" translate
                        >IS_DD_CLEARED<span></span
                      ></label>
                      <div class="new-checkbox">
                        <input
                          type="checkbox"
                          id="check4"
                          [(ngModel)]="feePaymentUpsertDto.isChequeClear"
                        />
                        <label for="check4" translate></label>
                      </div>
                      <div *ngIf="submitted" class="invalid-feedback">
                        <div>
                          <span translate>IS_DD_CLEARED</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="4">
            <a ngbNavLink>
              <i class="bi bi-credit-card-2-back"></i>
              <span translate>CREDIT_DEBIT_CARD</span></a
            >
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title" translate>CREDIT_DEBIT_CARD</h4>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label class="required" translate
                        >TRANSACTION_ID <span>*</span></label
                      >
                      <input
                        type="text"
                        [(ngModel)]="feePaymentUpsertDto.onlineTransactionId"
                        class="form-control"
                        placeholder="{{ 'TRANSACTION_ID' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted &&
                            !feePaymentUpsertDto.onlineTransactionId
                        }"
                      />
                      <div
                        *ngIf="
                          paySubmitted &&
                          !feePaymentUpsertDto.onlineTransactionId
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>TRANSACTION_ID</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group datepicker">
                      <label class="required" translate
                        >PAYMENT_DATE<span>*</span></label
                      >

                      <input
                        type="text"
                        [(ngModel)]="
                          feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        "
                        class="form-control"
                        placeholder="{{ 'PAYMENT_DATE' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted &&
                            !feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        }"
                        ngbDatepicker
                        [minDate]="{ year: 1901, month: 1, day: 1 }"
                        [maxDate]="{ year: 2100, month: 1, day: 1 }"
                        [readonly]="true"
                        #birthDateDatepicker="ngbDatepicker"
                        (click)="birthDateDatepicker.toggle()"
                      />
                      <div
                        class="calendar"
                        (click)="birthDateDatepicker.toggle()"
                      >
                        <i class="bi bi-calendar3"></i>
                      </div>

                      <div
                        *ngIf="
                          paySubmitted &&
                          !feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>PAYMENT_DATE</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="5">
            <a ngbNavLink>
              <i class="bi bi-bank"></i> <span translate>NETBANKING</span></a
            >
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title" translate>NETBANKING</h4>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label class="required" translate
                        >TRANSACTION_ID <span>*</span></label
                      >
                      <input
                        type="text"
                        [(ngModel)]="feePaymentUpsertDto.onlineTransactionId"
                        class="form-control"
                        placeholder="{{ 'TRANSACTION_ID' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted &&
                            !feePaymentUpsertDto.onlineTransactionId
                        }"
                      />
                      <div
                        *ngIf="
                          paySubmitted &&
                          !feePaymentUpsertDto.onlineTransactionId
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>TRANSACTION_ID</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group datepicker">
                      <label class="required" translate
                        >PAYMENT_DATE<span>*</span></label
                      >

                      <input
                        type="text"
                        [(ngModel)]="
                          feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        "
                        class="form-control"
                        placeholder="{{ 'PAYMENT_DATE' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted &&
                            !feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        }"
                        ngbDatepicker
                        [minDate]="{ year: 1901, month: 1, day: 1 }"
                        [maxDate]="{ year: 2100, month: 1, day: 1 }"
                        [readonly]="true"
                        #birthDateDatepicker="ngbDatepicker"
                        (click)="birthDateDatepicker.toggle()"
                      />
                      <div
                        class="calendar"
                        (click)="birthDateDatepicker.toggle()"
                      >
                        <i class="bi bi-calendar3"></i>
                      </div>

                      <div
                        *ngIf="
                          paySubmitted &&
                          !feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>PAYMENT_DATE</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="6">
            <a ngbNavLink class="upi">
              <img src="../../../../assets/img/upi-icon.svg" />
              <span translate>UPI_PAYMENT</span></a
            >
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title" translate>UPI_PAYMENT</h4>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label class="required" translate
                        >TRANSACTION_ID <span>*</span></label
                      >
                      <input
                        type="text"
                        [(ngModel)]="feePaymentUpsertDto.onlineTransactionId"
                        class="form-control"
                        placeholder="{{ 'TRANSACTION_ID' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted &&
                            !feePaymentUpsertDto.onlineTransactionId
                        }"
                      />
                      <div
                        *ngIf="
                          paySubmitted &&
                          !feePaymentUpsertDto.onlineTransactionId
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>TRANSACTION_ID</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group datepicker">
                      <label class="required" translate
                        >PAYMENT_DATE<span>*</span></label
                      >

                      <input
                        type="text"
                        [(ngModel)]="
                          feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        "
                        class="form-control"
                        placeholder="{{ 'PAYMENT_DATE' | translate }}"
                        [ngClass]="{
                          'is-invalid':
                            paySubmitted &&
                            !feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        }"
                        ngbDatepicker
                        [minDate]="{ year: 1901, month: 1, day: 1 }"
                        [maxDate]="{ year: 2100, month: 1, day: 1 }"
                        [readonly]="true"
                        #birthDateDatepicker="ngbDatepicker"
                        (click)="birthDateDatepicker.toggle()"
                      />
                      <div
                        class="calendar"
                        (click)="birthDateDatepicker.toggle()"
                      >
                        <i class="bi bi-calendar3"></i>
                      </div>

                      <div
                        *ngIf="
                          paySubmitted &&
                          !feePaymentUpsertDto.ngbOnlineTransactionDateTime
                        "
                        class="invalid-feedback"
                      >
                        <div>
                          <span translate>PAYMENT_DATE</span>
                          <span translate> IS_REQUIRED</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-0"></div>
        <div class="row mt-4">
          <div class="text-center">
            <button
              class="btn btn-with-icon with-text ms-auto btn-light"
              routerLink="/fee-management/view-payment"
              translate
            >
              CANCEL</button
            >&nbsp;&nbsp;
            <button
              (click)="pay()"
              *ngIf="
                this.getTotalRow().paybleFee >= 1 ||
                (this.getTotalRow().paybleFee < 1 && this.additionalAmount > 1)
              "
              class="btn btn-with-icon with-text btn-primary ms-auto miin-w"
              translate
            >
              SAVE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
