<div class="container-fluid">
  <div class="d-flex align-items-center page-heading-wrapper">
    <h3 class="page-heading" translate>DIVISION_MASTER</h3>
    <button *ngIf="this.sharedPermissionServiceService.havePermission('Division','Create')"
      class="btn btn-with-icon with-text btn-primary ms-auto"
      (click)="addDivision()"
      translate
    >
      ADD_DIVISION
    </button>
    <button container="body" container="body" ngbTooltip="{{ 'YOU_DO_NOT_HAVE_PERMISSION' | translate }}" *ngIf="!this.sharedPermissionServiceService.havePermission('Division','Create')"
    class="btn btn-with-icon with-text btn-primary ms-auto btn-disabled"
      translate
    >
      ADD_DIVISION
    </button>
    <button
      class="btn btn-with-icon btn-primary"
      ngbTooltip="{{ 'IMPORT' | translate }}"
    >
      <i class="bi bi-box-arrow-in-down"></i>
    </button>
  </div>

  <div class="card mb-4">
    <div class="card-body table-body">
      <!--table listing statrt-->
      <div id="no-more-tables">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="display table row-border hover"
        >
          <thead>
            <tr>
              <!-- <th translate>DIVISION_ID</th> -->
              <th translate>DIVISION_NAME</th>
              <th style="width: 7%" class="text-center" translate>ACTIONS</th>
            </tr>
          </thead>
          <tbody *ngIf="divisions?.length != 0">
            <tr *ngFor="let division of divisions index as i">
              <!-- <td [attr.data-title]="'DIVISION_ID' | translate">
                {{ division.divisionId }}
              </td> -->
              <td [attr.data-title]="'DIVISION_NAME' | translate">
                {{ division.divisionName }}
              </td>
              <td [attr.data-title]=" 'ACTIONS' | translate" class="action text-center actions-td">
                <div class="d-flex flex-wrap justify-content-end">
                  <button *ngIf="this.sharedPermissionServiceService.havePermission('Division','Update')"
                    type="button"
                    class="btn btn-secondary action-btn"
                    (click)="editDivision(division)"
                  >
                    <span
                      placement="top"
                      ngbTooltip="{{ 'VIEW_EDIT' | translate }}"
                    >
                      <i class="bi bi-pencil"></i>
                    </span>
                  </button>

                  <button *ngIf="!this.sharedPermissionServiceService.havePermission('Division','Update')"
                  type="button"
                  class="btn btn-secondary action-btn btn-disabled"                >
                  <span
                    placement="top"
                    ngbTooltip="{{ 'YOU_DO_NOT_HAVE_PERMISSION' | translate }}"
                  >
                    <i class="bi bi-pencil"></i>
                  </span>
                </button>

                  <button  *ngIf="this.sharedPermissionServiceService.havePermission('Division','Delete')"
                    type="button"
                    class="btn btn-danger action-btn"
                    (click)="confirmDivisionDelete(division)"
                  >
                    <span
                      placement="top"
                      ngbTooltip="{{ 'DELETE' | translate }}"
                    >
                      <i class="bi bi-trash"></i>
                    </span>
                  </button>
                  <button  *ngIf="!this.sharedPermissionServiceService.havePermission('Division','Delete')"
                  type="button"
                  class="btn btn-secondary action-btn btn-disabled" 
                >
                  <span
                    placement="top"
                    ngbTooltip="{{ 'YOU_DO_NOT_HAVE_PERMISSION' | translate }}"
                  >
                    <i class="bi bi-trash"></i>
                  </span>
                </button>
                </div>
              </td>
            </tr>
            <tr *ngIf="divisions?.length == 0">
              <td colspan="12" class="no-data-available" translate>NO_RECORDS_FOUND</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
