
<!--<ion-header>
   <img class="header-bg" src="../../../../assets/header1.png" /> 
  <div class="heading-text">
    <h1 class="heading"> Welcome</h1>
    <p class="para">Sign in to continue!</p>
  </div>
</ion-header>-->
<ion-content>
 
  <div class="ion-padding ion-full-height ion-flex ion-flex-center center-grid">
    <div class="logo-container">

   
      <div class="mx-auto logo-w animate__animated animate__fadeInUp">
        <img src="../../../../assets/img/new-logo.svg" />
      </div>
      <h1 class="animate__animated animate__fadeInUp">
        <ion-text class="dark-color">Sign In</ion-text>
      </h1>
      <!-- <p class="animate__animated animate__fadeInUp">
        <ion-text color="secondary">Login to your account.</ion-text>
      </p> -->
    </div>

    

    <!-- Login form -->
    <form class="form-default"  [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <div class="field-margin">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <!-- <legend>School Code</legend>  -->
          <ion-icon name="list-circle-outline"></ion-icon>
          <ion-input type="text" formControlName="code"  placeholder="School Code"></ion-input>
         
        </fieldset>
        
      </ion-item>
      <div *ngIf="f['code'].touched && f['code'].invalid">
        <div class="text-danger" *ngIf="f['code'].errors && f['code'].errors['required']">
          School Code is required.
        </div>
      </div>
    </div>
    <div class="field-margin">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <!-- <legend>Email/Phone</legend>  -->
          <ion-icon name="person-outline"></ion-icon>
          <ion-input type="text" formControlName="username"  placeholder="Username"></ion-input>
        </fieldset>
      </ion-item>
      <div *ngIf="f['username'].touched && f['username'].invalid">
        <div class="text-danger" *ngIf="f['username'].errors && f['username'].errors['required']">
          Username is required.
        </div>
      </div>
    </div>
    <div class="field-margin">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <!-- <legend>Password</legend>  -->
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input
          type="{{passwordVisible ? 'text' : 'password'}}" [(ngModel)]="password"
                    formControlName="password"
           placeholder="Password"
        ></ion-input>
        <ion-icon name="{{passwordVisible ?  'eye':'eye-off'}}" (click)="togglePasswordVisibility()"></ion-icon>
       
        </fieldset>
       
      </ion-item>
      <div *ngIf="f['password'].touched && f['password'].invalid">
        <div class="text-danger" *ngIf="f['password'].errors && f['password'].errors['required']">
          Password is required.
        </div>
      </div>
</div>

      <ion-button class="login-button" type="submit" expand="block">Login</ion-button>
      <div class="col-12 d-flex justify-content-center pt-3">
        <span *ngIf="isError" class="text-danger">Please enter valid credentials</span>
      </div>
    </form>
  </div>
  <div class="forgot-password text-center"  (click)="setOpen(true)">Forgot Password?</div>

  <div class="version-text text-center">V {{appVersion}}</div>

  <ion-modal [isOpen]="isModalOpen"  backdropDismiss="false">
    <ng-template>
      <ion-header class="modal-header" style="height: 50px;">
        <ion-toolbar color="light">
          <ion-title color="dark">Forgot Password</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p class="p-text">
          Not to worry, please contact your school admin to reset your password.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>



