<ion-header collapse="fade" [translucent]="true" class="modal-header">
  <ion-toolbar>
   

    <ion-title color="dark-color" style="font-weight: bold;">Homework Details</ion-title>
      
  
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card-subtitle class="message-from">
    <span class="bold-black-text">Subject : &nbsp;</span>
    <ion-text>{{ homeworkDetails.subjectName }}</ion-text>
  </ion-card-subtitle>
  <br>
  <ion-card-subtitle class="message-from">
    <span class="bold-black-text">Homework Title : &nbsp;</span>
    <ion-text>{{ homeworkDetails.homeworkTitle }}</ion-text>
  </ion-card-subtitle>
  <br>
  <ion-card-subtitle class="message-from">
    <span class="bold-black-text">Start Date : &nbsp;</span>
    <ion-text>{{ homeworkDetails.startDate.format('DD-MMM-YYYY') }}</ion-text>
  </ion-card-subtitle>
  <br>
  <ion-card-subtitle class="message-from">
    <span class="bold-black-text">End Date : &nbsp;</span>
    <ion-text>{{ homeworkDetails.endDate.format('DD-MMM-YYYY') }}</ion-text>
  </ion-card-subtitle>
  <br>

  <ion-card-subtitle class="message-from">
    <span class="bold-black-text"> Homework Description:</span>
    <ion-text [innerHTML]="homeworkDetails.homeworkDescription"></ion-text>
  </ion-card-subtitle>

   <div class="download">
    <ion-card-subtitle class="message-from" *ngIf="homeworkDetails.homeworkTextFileArray && homeworkDetails.homeworkTextFileArray.length > 0">
      <span class="bold-black-text">Event Files Download : &nbsp; </span>
    </ion-card-subtitle>
    <div class="uploaded-file-text">
      <span class="file-thumb" *ngFor="let f of homeworkDetails.homeworkTextFileArray; let i = index">
        <img *ngIf="getFileExtension(f.fileName) === 'png'" src="../../../../assets/img/img.png" class="thumbnail-icon" (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'jpeg'" src="../../../../assets/img/img.png" class="thumbnail-icon" (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'jpg'" src="../../../../assets/img/img.png" class="thumbnail-icon" (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'pdf'" src="../../../../assets/img/pdf.png" class="thumbnail-icon" (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'doc'" src="../../../../assets/img/doc.png" class="thumbnail-icon" (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'xls'" src="../../../../assets/img/xlsx.png.png" class="thumbnail-icon" (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'pptx'" src="../../../../assets/img/ppt.png" class="thumbnail-icon" (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'txt'" src="../../../../assets/img/txt.png" class="thumbnail-icon" (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'svg'" src="../../../../assets/img/svg.png" class="thumbnail-icon" (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'csv'" src="../../../../assets/img/csv.png" class="thumbnail-icon" (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'bmp'" src="../../../../assets/img/bmp.png" class="thumbnail-icon" (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'xlsx'" src="../../../../assets/img/xlsx.png" class="thumbnail-icon" (click)="showFile(f)" />
        <img *ngIf="getFileExtension(f.fileName) === 'docx'" src="../../../../assets/img/docx-file.png" class="thumbnail-icon" (click)="showFile(f)" />

      </span>
    </div>
  </div> 

  <!-- <div class="download" *ngIf="homeworkDetails.mediaVideoText && hasNonEmptyVideoLinks()">
    <ion-card-subtitle class="message-from">
      <span class="bold-black-text">Notice Media File Download: </span>
    </ion-card-subtitle>
    <div class="videoText">
      <ion-row>
        <ion-col size="12" size-sm="4" size-md="4" size-lg="4" *ngFor="let f of homeworkDetails.mediaVideoText; let i = index">
          <ion-item lines="none" class="input-item">
            <a [href]="f.contentUrl" target="_blank" id="contentUrl_{{i}}" class="plain-link">Open Link</a>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </div> -->

  <div class="download" *ngIf="homeworkDetails.mediaVideoText && hasNonEmptyVideoLinks()">
    <ion-card-subtitle class="message-from">
      <span class="bold-black-text">Notice Media File Download: </span>
    </ion-card-subtitle>
    <div class="videoText video-link-wrap">
      <ul class="black-bullet">
        <li *ngFor="let f of homeworkDetails.mediaVideoText; let i = index">
          <a [href]="f.contentUrl" target="_blank" id="contentUrl_{{i}}">
            {{ f.contentUrl }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  
</ion-content>