.menu-toggle {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -16px;
    top: 15px;
    box-shadow: 0 0 1px 1px #000;
}


