<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" ngbAutofocus translate>
      VIEW_HISTORY
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  
  </div>
  <div class="modal-body bg-grey" id="print-section">
    <div class="card pt-2 mb-0">
      <app-print-common-header></app-print-common-header>
  </div>
    <div class="card p-0">
      <div class="card-header">
        <h4 class="card-title" translate>BASIC_DETAILS</h4>
      </div>
  
      <div class="card-body table-body pt-0">
        <div class="row mb-2">
          <div class="col-12 col-md-6">
            <div class="form-group mb-0">
              <label for="studentName" translate>STUDENT_NAME</label>:
              <label class="read-only-lable">{{basicInfo.studentName}}</label>
            </div>
            <div class="form-group mb-0">
              <label for="academicYear" translate>ACADEMIC_YEAR</label>:
              <label translate class="read-only-lable">{{getAcademicYearValue()}}</label>
            </div>
          </div>
          
          <div class="col-12 col-md-6">
            <div class="form-group mb-0">
              <label for="gradeAndDivision" translate>GRADE_AND_DIVISION</label>:
              <label class="read-only-lable">{{basicInfo.gradeName}} - {{basicInfo.divisionName}}</label>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  
    <div class="card p-0">
      <div class="card-header">
        <h4 class="card-title" translate>PARTICULARS</h4>
      </div>
  
      <div class="card-body table-body pt-0">
        <div id="no-more-tables">
          <table id="table_id" class="display table table-bordered">
            <thead>
              <tr>
                <th translate>PARTICULAR</th>
                <th translate>TOTAL_FEE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableData">
                <td [attr.data-title]="'PARTICULAR' | translate">
                  {{ item.particularName }}
                </td>
                <td [attr.data-title]="'TOTAL_FEE' | translate">
                  ₹ {{ item.totalFee | number : '1.1-2'}}
                </td>
              </tr>
              <tr *ngFor="let item of tableDataTotal">
                <td [attr.data-title]="'PARTICULAR' | translate">
                  {{ item.particularName }}
                </td>
                <td [attr.data-title]="'TOTAL_FEE' | translate">
                  N/A
                </td>
              </tr>
              <tr class="fw-bold">
                <td [attr.data-title]="'PARTICULAR' | translate">
                  Total
                </td>
                <td [attr.data-title]="'TOTAL_FEE' | translate">
                  ₹ {{ totalFee | number : '1.1-2'}}
                </td>
  
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="card mb-0 p-0">
      <div class="card-header">
        <h4 class="card-title" translate>PAYMENT_DETAILS</h4>
      </div>
  
      <div class="card-body table-body pt-0">
        <div class="payment-details">
          <div class="w-100">
            <div class="d-text">
              <span translate class="left" style="font-size: 12px;font-weight: 500;">INVOICE_NUMBER</span>:
              <span class="right" style="font-size: 12px;">{{basicInfo.registrationInvoiceNumber}}</span>
            </div>
            <div class="d-text">
              <span translate class="left"  style="font-size: 12px;font-weight: 500;">PAYMENT_MODE</span>:
              <span class="right" style="font-size: 12px;">{{basicInfo.paymentTypeName}}</span>
            </div>
            <div class="d-text">
              <span translate class="left"  style="font-size: 12px;font-weight: 500;">PAYMENT_DATE</span>:
              <span class="right" style="font-size: 12px;">{{paymentDate | date:"dd/MM/yyyy"}}</span>
            </div>
            <div class="d-text" *ngIf="basicInfo.onlineTransactionId">
              <span class="right" style="font-size: 12px;">{{basicInfo.onlineTransactionId}}</span>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group mb-0 pb-0">
      <button *ngIf="this.sharedPermissionServiceService.havePermission('Academic Fee Payment','Print')"
       type="button" class="btn btn-primary"
      [useExistingCss]="true" ngxPrint printSectionId="print-section" 
      translate><i class="bi bi-printer"></i> PRINT</button>
  
      <button *ngIf="!this.sharedPermissionServiceService.havePermission('Academic Fee Payment','Print')"
      type="button" class=" btn btn-primary ms-auto btn-disabled bi bi-printer"
      ngbTooltip="{{ 'YOU_DO_NOT_HAVE_PERMISSION' | translate }}"
     translate>PRINT</button>
      <button class="btn btn-light" (click)="close()" translate>
        CLOSE
      </button>
    </div>
  </div>
  
  
  <style>
    @media print {
      .card .card-header {
        padding-left: 0 !important;
      }
  }
  </style>