
<div class="container-fluid">
    <div class="d-flex align-items-center page-heading-wrapper">
      <h3 class="page-heading" translate>MARKS_GRADE_RELATION</h3>
      <button class="btn btn-with-icon with-text btn-primary ms-auto" (click)="addMarkGradeRalation()" *ngIf="this.sharedPermissionServiceService.havePermission('Area Management','Create')" translate>ADD_GRADE</button>
      <button container="body" ngbTooltip="{{ 'YOU_DO_NOT_HAVE_PERMISSION' | translate }}"  *ngIf="!this.sharedPermissionServiceService.havePermission('Area Management','Create')"  class="btn btn-with-icon with-text btn-primary ms-auto btn-disabled" translate>UPDATE_GRADE</button>
    </div>
  
    <div class="card mb-4">
      <div class="card-body table-body">
        <div id="no-more-tables">
           
          <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display table row-border hover">
            <thead>
              <tr> 
                <th translate>GRADE</th>
                <th translate>MINIMUM_MARKS</th>
                <th translate>MAXIMUM_MARKS</th>
                <th style="width: 7%" class="text-end" translate>ACTIONS</th>
              </tr>
            </thead>
            <tbody *ngIf="marksGradeList?.length != 0">
              <tr *ngFor="let marksGrade of marksGradeList index as i">
                  
                  <td [attr.data-title]=" 'GRADE' | translate">{{ marksGrade.grade }}</td>
                  <td [attr.data-title]=" 'MINIMUM_MARKS' | translate">{{marksGrade.minMark  }}</td>
                  <td [attr.data-title]=" 'MAXIMUM_MARKS' | translate">{{ marksGrade.maxMark}}</td>

                  <td [attr.data-title]=" 'ACTIONS' | translate" class="action text-center actions-td">
                    <div class="d-flex flex-wrap justify-content-end">
                      <button *ngIf="this.sharedPermissionServiceService.havePermission('Area Management','Update')" 
                        type="button"
                        class="btn btn-secondary action-btn"
                        (click)="editMarkGradeRalation(marksGrade)"
                      >
                        <span
                          placement="top"
                          ngbTooltip="{{ 'VIEW_EDIT' | translate }}"
                        >
                          <i class="bi bi-pencil"></i>
                        </span>
                      </button>
                      <button *ngIf="!this.sharedPermissionServiceService.havePermission('Area Management','Update')" 
                      type="button"
                      class="btn btn-secondary action-btn btn-disabled"
                    >
                      <span
                        placement="top"
                        ngbTooltip="{{ 'YOU_DO_NOT_HAVE_PERMISSION' | translate }}"
                      >
                        <i class="bi bi-pencil"></i>
                      </span>
                    </button>
    
                      <button *ngIf="this.sharedPermissionServiceService.havePermission('Area Management','Delete')" 
                        type="button"
                        class="btn btn-danger action-btn"
                        (click)="confirmAreaDelete(marksGrade)" 
                      >
                        <span
                          placement="top"
                          ngbTooltip="{{ 'DELETE' | translate }}"
                        >
                          <i class="bi bi-trash"></i>
                        </span>
                      </button>
                      <button *ngIf="!this.sharedPermissionServiceService.havePermission('Area Management','Delete')" 
                      type="button"
                      class="btn btn-secondary action-btn btn-disabled"
                    >
                      <span
                        placement="top"
                        ngbTooltip="{{ 'YOU_DO_NOT_HAVE_PERMISSION' | translate }}"
                      >
                        <i class="bi bi-trash"></i>
                      </span>
                    </button>
                    </div>
                  </td>
              </tr>
              <tr *ngIf="marksGradeList?.length == 0">
                <td colspan="7" class="no-data-available" translate>NO_RECORDS_FOUND</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  