<div class="login-page-bg-cover">
   
  <div class="login-page-bg-overlay"></div>
  <div class="arc-bottom">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
      <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
  </svg>
  </div>
  </div>
  
  <div class="d-flex align-items-center justify-content-center hv-100">
<div>
    <div class="text-center logo mt-2 mb-5 position-relative" style="z-index:2">
        <img src="./assets/img/logo-full.png" alt="Logo">
        <p class="mb-3 mt-3 text-white">Ohh! Forgot your password? Reset Password Now.</p>
      </div>

      <form class="form-signin login-with-width" [formGroup]="confirmPasswordForm"  novalidate>
        <div class="text-center">
            <h4 class="mb-5 login-text">RESET PASSWORD</h4>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
                <label for="schoolCode">School Code</label>
                <input type="text" class="form-control" id="schoolCode" formControlName="schoolcode" placeholder="School Code">
                <div *ngIf="f['schoolcode'].touched && f['schoolcode'].invalid">
                  <div class="text-danger" *ngIf="f['schoolcode'].errors && f['schoolcode'].errors['required']">
                    School Code is required.
                  </div>
                </div>
              </div>
        </div>
            <div class="col-12">
                <div class="form-group">
                  <label for="username">Enter Password</label>
                    <input type="password" class="form-control" formControlName="userpassword"  id="userpassword" placeholder="Enter Password">
                    <div *ngIf="f['userpassword'].touched && f['userpassword'].invalid">
                      <div class="text-danger" *ngIf="f['userpassword'].errors && f['userpassword'].errors['required']">
                        Password is required.
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="username">Enter Confirm Password</label>
                  <input type="password" class="form-control" formControlName="confirmpassword"  id="confirmpassword" placeholder="Enter Confirm Password">
                  <div *ngIf="f['confirmpassword'].touched && f['confirmpassword'].invalid">
                    <div class="text-danger" *ngIf="f['confirmpassword'].errors && f['confirmpassword'].errors['required']">
                      Confirm Password is required.
                    </div>
                    <div class="text-danger" *ngIf="f['confirmpassword'].errors && f['confirmpassword'].errors['compare']">
                      Password and Confirm Password should match.
                    </div>
                  </div>
                </div>
          </div>
        </div>
       
        <div class="row">
            <div class="col-12"> <button class="btn btn-lg btn-primary w-100 mt-4" (click)="resetPassword()">Submit</button></div>

            <div class="col-12 d-flex justify-content-center">
            <a href="javascript:void(0)" class="forgot-password-link link-bold mt-3" routerLink="/login" title="Forgot Password">Login</a>
              </div>
        </div>
      </form>
    </div>
    </div>
 