label {
    font-size: 15px;
    font-weight: 400;
    color: #5e636e;
    margin-bottom: 6px;
  }
  
  .group-gap {
    margin-bottom: 40px;
  }
  
  .btn.focus,
  .btn:focus,
  .form-control:focus,
  .custom-select:focus,
  .custom-select:focus {
    box-shadow: none;
  }
  
  .form-control:focus,
  .custom-select:focus {
    border: 1px solid #ccc;
  }
  
  .btn-success,
  .btn-success:hover {
    color: #012E45;
    border-color: #00FC79;
    background-color: #00FC79;
  }
  
  .btn-group-lg>.btn,
  .btn-lg {
    padding: 13px 15px 15px;
    font-size: 16px;
    border-radius: 0;
    text-transform: uppercase;
  }
  
  .btn-group-sm>.btn,
  .btn-sm {
    padding: 10px 16px 10px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 0;
  }
  
  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 10px auto 30px;
  }
  
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 19px;
    z-index: 1;
    top: 13px;
  }
  
  .avatar-upload .avatar-edit input {
    display: none;
  }
  
  .avatar-upload .avatar-edit .custom-label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #3efc78;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  
  .avatar-upload .avatar-edit .upload-image {
    background: #3efc78;
  }
  
  .avatar-upload .avatar-edit .remove-image {
    background: #E91E63;
  }
  
  .avatar-upload .avatar-edit .custom-label:hover {
    opacity: 1;
  }
  
  .avatar-upload .avatar-edit .custom-label:after {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 8px;
    right: 0;
    left: 2px;
    width: 18px;
  }
  
  .avatar-upload .avatar-edit .upload-image:after {
    content: url('/assets/edit.svg');
  }
  
  .avatar-upload .avatar-edit .remove-image:after {
    content: url('/assets/close.svg');
    left: 0px !important;
  }
  
  .avatar-upload .avatar-preview {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    border: 12px solid #fff;
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  }
  
  .avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .form-control {
    height: auto;
    padding:5px 15px;
    font-size: 14px;
    color: #222222;
    border-radius: 4px;
    background: #FDFDFD;
    border: 1px solid #ccc;
  }
  
  .custom-select {
    height: auto;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    color: #222222;
    background-color: #FDFDFD;
    border: 1px solid #ccc;
    border-radius: 4px;

  }
  
  .custom-control-input:checked~.custom-control-label::before {
    border-color: #E91E63;
    background-color: #E91E63;
  }
  
  .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
  }
  
  .custom-control-label {
    cursor: pointer;
  }
  
  .error:focus,
  .error {
    border-color: #E91E63;
    color: #E91E63;
  }
  
  .invalid-feedback {
    color: #E91E63;
  }
  
  .btn-danger,
  body .btn-danger:hover {
    background: #012E45;
    border-color: #012E45;
    color: #4EABE6;
  }
  
  .subjectList {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .subjectList li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .invalid-feedback {
    display: block;
  }
  
  .mb-3,
  .my-3 {
    margin-bottom: 15px !important;
  }
  
  .custom-control {
    margin-bottom: 5px;
  }
  
  .custom-control label {
    font-weight: 400;
  }
  
  .section4 {
    padding-top: 90px;
    height: calc(100vh - 29px);
    overflow-y: auto;
  }
  .shadow-nav {
    box-shadow: 1px 1px 1px 1px #d2d8e0;
    background-color: #fff;
  }
  .btn {
    padding: 5px 16px;
    border-radius: 4px;
    background-color: #012E45 !important;
    border-color: #012E45 !important;
  }

  .btn.btn-light {
    background-color: #ccc !important;
    border-color: #ccc !important;
    color: #000 !important;
  }

  footer {
    background-color: #fff;
    box-shadow: -4px -1px 1px 1px #d2d8e0;
    text-align: center;
    padding: 10px;
  }

  .box {
    position: relative;
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .custom-wrapper p{ font-size: 16px; margin-bottom: 0;}
  .custom-wrapper h6{ font-size: 20px; line-height: 1; font-weight: 400;}

  form {
    background-color: #f4f5f6;
    border: 1px  solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }

  .file-input {
    position: relative;
    display: flex;
    padding: 0;
    background: #fff;
}

.file-input input[type=file] {
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.file-input-button {
    margin: -1px;
    transition: .24 ease;
    background-color: #ccc !important;
    border-color: #ccc !important;
    color: #000 !important;
    font-size: 14px;
    padding: 7px 16px;
    
}

.add-extra-attachement {
    background-color: #5e56cd !important;
    border-color: #5e56cd !important;
    color: #fff !important;
}

.file-input-text {
    display: flex;
    align-items: center;
    padding: 5pxpx;
}

.ticket-attachments-message {
    margin: 5px 0 0 0;
    color: #000;
    font-size: 12px !important;
    line-height:16px;
}

.navbar-custom {
    padding: 5px 0 !important;
}