
<div class="public-site">
<div class="header-top-area bg-gradient-color d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 header-top-left-part">
            
                <marquee><span class="address"><i class="bi bi-phone"></i> +91 79724 55639 </span><span class="phone ms-5"><i class="webexflaticon flaticon-send"></i> contact&#64;schoolhub360.com </span></marquee>
                <!-- somu28/10/2023 -->
            </div>
           
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky-dark" id="navbar-sticky">
    <div class="container">
        <!-- LOGO -->
        <a class="logo text-uppercase" href="index-1.html">
            <img src="../../../assets/images/logo-black.png" alt="" class="logo-dark" height="24" />
            <img src="../../../assets/images/logo-white.png" alt="" class="logo-light" height="24" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
                <li class="nav-item">
                    <a href="#home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#features" class="nav-link">Features</a>
                </li>
                
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a href="#" class="btn btn-sm btn-primary demo-btn2">Get a Demo</a>
                </li>
                <li class="nav-item">
                    <a (click)="gotoLogin()" class="btn btn-sm btn-primary ms-2">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<!-- home-agency start -->


	<ngb-carousel class="public-slider">
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="../../../assets/images/mainb.png" alt="Random first slide"/>
			</div>
			<div class="carousel-caption">
				<div class="container-fluid">
                    <div class="row align-items-center hero-content">
                        <div class="col-lg-5">
                            <h1 class="hero-title fw-medium mb-4 pb-3 text-white">Online School Managemnet Software for Simplified Your Tasks</h1>
                            <p class="text-white mb-5 pb-5 fs-16">We provide School management system and 9 other school products to empower school, teachers, students and parent</p>
                            <a href="#" class="btn btn-sm btn-primary demo-btn">Request a Demo</a>
                            <a href="./../../../assets/images/brochure.pdf" class="btn btn-sm btn-primary download-btn ms-2" download>Download Brochure</a>
                        </div>
                    </div>
                    <img src="../../../assets/images/dashb.png" alt="" class="img-fluid img-dash" />
            
                </div>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="../../../assets/images/mainb.png" alt="Random second slide"/>
			</div>
			<div class="carousel-caption">
                <div class="container-fluid">
                    <div class="row align-items-center hero-content">
                        <div class="col-lg-5">
                            <h1 class="hero-title fw-medium mb-4 pb-3 text-white">Mobile App for Student & Teacher Managemnet.</h1>
                            <p class="text-white mb-5 pb-5 fs-16">School Phone APP helps teachers to build strong relationship with parents and students. APP help students to connect with other students and solve problems of academics.</p>
                            <a href="#" class="btn btn-sm btn-primary demo-btn">Request a Demo</a>
                            <a href="./../../../assets/images/brochure.pdf" class="btn btn-sm btn-primary download-btn ms-2" download>Download Brochure</a>
                        </div>
                    </div>
                    <img src="../../../assets/images/dapi.png" alt="" class="img-fluid img-dash2" />
            
                </div>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="../../../assets/images/mainb.png"  alt="Random third slide"/>
			</div>
			<div class="carousel-caption">
				<div class="container-fluid">
                    <div class="row align-items-center hero-content">
                        <div class="col-lg-5">
                            <h1 class="hero-title fw-medium mb-4 pb-3 text-white">Fast, Secure & Easy. Regular Updates & Support
                            </h1>
                            <p class="text-white mb-5 pb-5 fs-16">We use advanced tools and technologies to build up this free school software. It is super fast, secure, reliable, and easy to use and manage. We add new and awesome features regularly to make our school administrative software unmatchable. Free online 24/7 support for users.</p>
                            <a href="#" class="btn btn-sm btn-primary demo-btn">Request a Demo</a>
                            <a href="./../../../assets/images/brochure.pdf" class="btn btn-sm btn-primary download-btn ms-2" download>Dowanload Brochure</a>
                        </div>
                    </div>
                    <img src="../../../assets/images/supportpng.png" alt="" class="img-fluid img-dash2" />
            
                </div>
			</div>
		</ng-template>
	</ngb-carousel>
<div class="back-slider-part">
    <div class="slider__btm__part">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 g-0">
                    <div class="hero2__nav-content hero2__nav-content-1">
                        <h4>Cloud Based Software</h4>
                        <p>Schoohub is school software that is always online, you can access it from anywhere, anytime. We will take care of your data and backups.</p>
                        <i class="arrow_right"></i>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 g-0">
                    <div class="hero2__nav-content hero2__nav-content-2">
                        <h4>Regular Updates & Support
                        </h4>
                        <p>We add new and awesome features regularly to make our school administrative software unmatchable. Free online 24/7 support for users</p>
                        <i class="arrow_right"></i>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 g-0">
                    <div class="hero2__nav-content hero2__nav-content-3">
                        <h4>Afordability</h4>
                        <p>Affordable school management software offers a powerful solution for schools looking to optimize their operations without breaking the bank</p>
                        <i class="arrow_right"></i>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 g-0">
                    <div class="hero2__nav-content hero2__nav-content-4">
                        <h4>Customization</h4>
                        <p>We build customize  features as per your requirements, content to align with your specific product features and target audience preferences!</p>
                        <i class="arrow_right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="hero-1 d-none" id="home">
    <div class="container">

        
        <div class="row align-items-center hero-content d-none">
            <div class="col-lg-6">
                <h1 class="hero-title fw-medium mb-4 pb-3 text-white">Online School Managemnet Software for Simplified Your Tasks</h1>
                <p class="text-white mb-5 pb-5 fs-16">We provide School management system and 9 other school products to empower school, teachers, students and parent</p>
                <a href="#" class="btn btn-sm btn-primary demo-btn">Request a Demo</a>
                <a href="./../../../assets/images/brochure.pdf" class="btn btn-sm btn-primary download-btn ms-2" download>Dowanload Brochure</a>


                <!-- <a href="javascript:void(0);" class="me-1">
                    <img src="../../../assets/images/i-store.png" alt="" class="shadow" height="52">
                </a>
                <a href="javascript:void(0);">
                    <img src="../../../assets/images/play-store.png" alt="" class="shadow" height="52">
                </a> -->
            </div>
            <!-- <div class="col-lg-6 text-center text-lg-end">
                <img src="../../../assets/images/dashb.png" alt="" class="img-fluid" />
            </div> -->
        </div>
        <img src="../../../assets/images/dashb.png" alt="" class="img-fluid img-dash" />

    </div>
</section>
<!-- home-agency end -->

<!-- How it work start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 col-lg-6 text-center">
                <h2 class="title">OUR FEATURES</h2>
                <p class="text-muted fs-16">The service we offer is specifically designed to meet your needs</p>
                <div class="title-line"></div>
            </div>
        </div>

        <div class="row gy-8 mb-17">
            <div class="col-md-6 col-lg-4">
                <div class="d-flex flex-row div-btn-mr">
                    <div class="svg-icon">
                        <img src="../../../assets/images/sm.svg"/>
                        </div>
                  <div>
                    <h3 class="fs-22 mb-1">Student Management</h3>
                    <p class="mb-0">Easily store and access student records, including personal details, academic performance, and attendance history.</p>
                  </div>
                </div>
              </div>
            <!--/column -->
            <div class="col-md-6 col-lg-4">
              <div class="d-flex flex-row div-btn-mr">
                <div class="svg-icon">
                    <img src="../../../assets/images/at.svg"/>
                    </div>
                <div>
                  <h3 class="fs-22 mb-1">Attendance Managemnet</h3>
                  <p class="mb-0">Automate attendance recording and streamline the process of tracking student attendance, reducing manual effort and errors.</p>
                </div>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-4">
              <div class="d-flex flex-row div-btn-mr">
                <div class="svg-icon">
                    <img src="../../../assets/images/fees.svg"/>
                    </div>
                <div>
                  <h3 class="fs-22 mb-1">Fees Management</h3>
                  <p class="mb-0">Simplify fee collection and management, including online payment options, overdue fee reminders, and financial reporting.</p>
                </div>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-4">
              <div class="d-flex flex-row div-btn-mr">
                <div class="svg-icon">
                    <img src="../../../assets/images/time.svg"/>
                    </div>
                <div>
                  <h3 class="fs-22 mb-1">Timetable Management</h3>
                  <p class="mb-0">Create and manage class timetables efficiently, taking into account teacher availability, room allocation, and other scheduling constraints.  </p>
                </div>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-4">
              <div class="d-flex flex-row div-btn-mr">
                <div class="svg-icon">
                    <img src="../../../assets/images/homework.svg"/>
                    </div>
                <div>
                  <h3 class="fs-22 mb-1">Homework Management</h3>
                  <p class="mb-0">Manage and assign homework efficiently with our user-friendly homework management system.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="d-flex flex-row div-btn-mr">
                  <div class="svg-icon">
                      <img src="../../../assets/images/bus.svg"/>
                      </div>
                  <div>
                    <h3 class="fs-22 mb-1">Transport Management</h3>
                    <p class="mb-0">School transport management system maintains records of bus drivers with complete details like profiles, licenses, and their schedules.</p>
                  </div>
                </div>
              </div>
            <!--/column -->
            
            <!--/column -->
          </div>

        <div class="row d-none">
            <div class="col-lg-4">
                <div class="work-box px-lg-5 text-center mb-5 mb-lg-0">
                    <div class="work-icon bg-soft-primary mb-4">
                        <i class="mdi mdi-format-list-bulleted text-primary"></i>
                    </div>
                    <h5 class="fw-semibold">1. Intuitive visual editor</h5>
                    <p class="text-muted">Nemo enim ipsam quia voluptas sit aspernatur ist dolores.</p>
                    <img src="../../../assets/images/arrow-top.png" alt="" class="work-arrow" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="work-box px-lg-5 text-center mb-5 mb-lg-0">
                    <div class="work-icon bg-soft-primary mb-4">
                        <i class="mdi mdi-palette-outline text-primary"></i>
                    </div>
                    <h5 class="fw-semibold">2. Huge design collection</h5>
                    <p class="text-muted">Nemo enim ipsam quia voluptas sit aspernatur ist dolores.</p>
                    <img src="../../../assets/images/arrow-bottom.png" alt="" class="work-arrow" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="work-box px-lg-5 text-center mb-5 mb-lg-0">
                    <div class="work-icon bg-soft-primary mb-4">
                        <i class="mdi mdi-layers-triple text-primary"></i>
                    </div>
                    <h5 class="fw-semibold">3. One click installation</h5>
                    <p class="text-muted">Nemo enim ipsam quia voluptas sit aspernatur ist dolores.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How it work end -->

<!-- features start -->
<section class="section border-light border-top" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../../assets/images/dashboard.svg" alt="" class="img-fluid d-block mx-auto ms-lg-auto" />
            </div>
            <div class="col-lg-5 offset-lg-1">
                <h2 class="lh-base mb-4">Benefits of School erp Software
                </h2>
                <p class="text-muted mb-4">One of the most remarkable benefits of a school ERP software is that it saves a lot of time involved in managing massive data and information. This further helps teachers and administrative staff to focus more on the other important jobs and work more efficiently. Simply put, all the back-office operations of a school can be taken by school ERP software..</p>

                <div class="d-flex mb-3">
                    <div class="flex-shrink-0">
                        <span class="avatar avatar-md bg-white text-primary rounded-circle shadow-primary">
                            <i class="bi bi-check2"></i>                      </span>
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <p class="text-muted mb-0"><span class="text-dark fw-bold"> Streamlined Administrative Tasks:</span> ERP software automates administrative tasks such as admissions, attendance tracking, fee management, timetable scheduling, and exam management, reducing manual workloads and improving efficiency.</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="flex-shrink-0">
                        <span class="avatar avatar-md bg-white text-primary rounded-circle shadow-primary">
                            <i class="bi bi-check2"></i>                      </span>
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <p class="text-muted mb-0"><span class="text-dark fw-bold"> Centralized Data Management: </span>It provides a centralized platform for storing and managing student, staff, and administrative data, ensuring easy access and retrieval of information when needed.</p>
                    </div>
                </div>

                <!-- <div class="d-flex align-items-center mb-3">
                    <div class="flex-shrink-0">
                        <span class="avatar avatar-md bg-white text-primary rounded-circle shadow-primary">
                            <i class="mdi mdi-lock-outline fs-20"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <p class="text-muted mb-0">
                            Et sit <span class="text-dark fw-bold">quidem rerum facilis as expedita</span> distinctio am libero tempore cum <span class="text-dark fw-bold">soluta nobis est</span> eligendi optio cumque nihil impedit
                            quo minus.
                        </p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- features end -->

<!-- features start -->
<section class="section bg-light features-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="lh-base mb-4">Looking for the Best School Management Software?</h2>
                <p class="text-muted mb-4">"Schoolhub 360" School ERP Software is an integrated CLOUD-BASED campus management system that contains all the prime functionalities including Administrative, Academic, Communications, and Productivity at a very affordable price. It is an interactive and the best platform for management, staff, students, and parents to manage and collaborate with day-to-day campus-associated tasks more efficiently and effectively from anywhere and at any time.<br><br>

                    It has got 30+ affordable and the best online features ranging from admission to leaving certificate, fee management to bus tracking, attendance to results report, e-circulars to the webinar, an operational dashboard for extra-curricular management, ID Card generation to Certificates Printing, and many more…<br><br>
                    
                    "Schoolhub 360" School ERP Software can be integrated with any 3rd party tools like Biometrics, RFID, Online Payment Gateway, Accounts Software, and so on.
                    Here is a quick guide on must-have features in School management Software.</p>

                <!-- <div class="d-flex align-items-center mb-3">
                    <div class="flex-shrink-0">
                        <span class="avatar avatar-md bg-white text-primary rounded-circle shadow-primary">
                            <i class="mdi mdi-check fs-20"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <p class="text-muted mb-0"><span class="text-dark fw-bold">The wise a therefore always holds</span> in us matters to this principle a selection a rejects pleasures.</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="flex-shrink-0">
                        <span class="avatar avatar-md bg-white text-primary rounded-circle shadow-primary">
                            <i class="mdi mdi-layers-outline fs-20"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <p class="text-muted mb-0">Sed perspiciatis omnis a <span class="text-dark fw-bold">natus error accusantium doloremque</span> laudantium tota rem aperiam eaque ipsa quae illo inventore.</p>
                    </div>
                </div>

                <div class="d-flex align-items-center mb-3">
                    <div class="flex-shrink-0">
                        <span class="avatar avatar-md bg-white text-primary rounded-circle shadow-primary">
                            <i class="mdi mdi-lock-outline fs-20"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <p class="text-muted mb-0">
                            Et sit <span class="text-dark fw-bold">quidem rerum facilis as expedita</span> distinctio am libero tempore cum <span class="text-dark fw-bold">soluta nobis est</span> eligendi optio cumque nihil impedit
                            quo minus.
                        </p>
                    </div>
                </div> -->
            </div>

            <div class="col-lg-5 offset-lg-1">
                <img src="../../../assets/images/st.svg" alt="" class="img-fluid d-block mx-auto ms-lg-auto" />
            </div>
        </div>
    </div>
</section>
<!-- features end -->

<!-- counter start -->
<section class="section cta-bg">
    <div class="bg-overlay bg-dark"></div>
    <div class="container">
        <div class="row" id="counter">
            <div class="col-sm-6 col-lg-3">
                <div class="text-center my-3">
                    <div class="d-flex align-items-center counter-content text-start">
                        <div class="flex-shrink-0">
                            <i class="mdi mdi-web text-white display-5"></i>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h1 class="text-white"><span class="counter_value" data-target="825">204+</span></h1>
                            <p class="counter-name text-white opacity-75 mb-0 text-uppercase">Schools</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="text-center my-3">
                    <div class="d-flex align-items-center counter-content text-start">
                        <div class="flex-shrink-0">
                            <i class="mdi mdi-emoticon-happy text-white display-5"></i>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h1 class="text-white"><span class="counter_value" data-target="1800">900</span>+</h1>
                            <p class="counter-name text-white opacity-75 mb-0 text-uppercase">Teachers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="text-center my-3">
                    <div class="d-flex align-items-center counter-content text-start">
                        <div class="flex-shrink-0">
                            <i class="mdi mdi-lightbulb-on text-white display-5"></i>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h1 class="text-white"><span class="counter_value" data-target="599">9800</span>+</h1>
                            <p class="counter-name text-white opacity-75 mb-0 text-uppercase">Students</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="text-center my-3">
                    <div class="d-flex align-items-center counter-content text-start">
                        <div class="flex-shrink-0">
                            <i class="mdi mdi-account-multiple text-white display-5"></i>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h1 class="text-white"><span class="counter_value" data-target="2000">50</span>+</h1>
                            <p class="counter-name text-white opacity-75 mb-0 text-uppercase">Distributor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counter end -->


<!-- faqs start -->
<section class="section bg-light border-light border-top border-bottom">
    <img src="../../../assets/images/design.png" alt="" class="img-fluid d-block mx-auto ms-lg-auto" />
    <div class="container d-none">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 col-lg-6 text-center">
                <h2 class="title">Frequently Asked Questions</h2>
                <p class="text-muted fs-16">Schoolhub 360 feature-rich designed demo pages help you create the best possible product.</p>
                <div class="title-line"></div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-sm-6 col-lg-5 mb-3">
              <h4 class="fs-18 fw-bold">Can I cancel at anytime?</h4>
              <p class="fs-16 text-muted">Yes, you can cancel anytime no questions are asked while you cancel but we would highly appreciate if you will give us some feedback.</p>
            </div>
            <!-- End Col -->
    
            <div class="col-sm-6 col-lg-5 mb-3">
              <h4 class="fs-18 fw-bold">My team has credits. How do we use them?</h4>
              <p class="fs-16 text-muted">Once your team signs up for a subscription plan. This is where we sit down, grab a cup of coffee and dial in the details.</p>
            </div>
            <!-- End Col -->
    
            <div class="col-sm-6 col-lg-5 mb-3">
              <h4 class="fs-18 fw-bold">How does Schoolhub 360 pricing work?</h4>
              <p class="fs-16 text-muted">Our subscriptions are tiered. Understanding the task at hand and ironing out the wrinkles is key.</p>
            </div>
            <!-- End Col -->
    
            <div class="col-sm-6 col-lg-5 mb-3">
              <h4 class="fs-18 fw-bold">How secure is Schoolhub 360?</h4>
              <p class="fs-16 text-muted">Protecting the data you trust to Schoolhub 360 is our first priority. This part is really crucial in keeping the project in line to completion.</p>
            </div>
            <!-- End Col -->
    
            <div class="col-sm-6 col-lg-5 mb-3">
              <h4 class="fs-18 fw-bold">Do you offer discounts?</h4>
              <p class="fs-16 text-muted">We've built in discounts at each tier for teams. The time has come to bring those ideas and plans to life.</p>
            </div>
            <!-- End Col -->
    
            <div class="col-sm-6 col-lg-5 mb-3">
              <h4 class="fs-18 fw-bold">What is your refund policy?</h4>
              <p class="fs-16 text-muted">We offer refunds. We aim high at being focused on building relationships with our clients and community.</p>
            </div>
            <!-- End Col -->
          </div>
    </div>
</section>
<!-- faqs end -->

<!-- cta start -->
<section class="section cta-bg">
    <div class="bg-overlay bg-dark"></div>
    <div class="container position-relative text-center">
        <h2 class="title2 text-white">Available for your Smartphone. Download now</h2>
        <p class="text-white-50 fs-16">Schoolhub 360 feature-rich designed demo pages help you create the best possible product.</p>
        <div class="title-line bg-white mb-5"></div>
        <a href="javascript:void(0);" class="me-1">
            <img src="../../../assets/images/i-store.png" alt="" class="shadow" height="52" />
        </a>
        <a href="javascript:void(0);">
            <img src="../../../assets/images/play-store.png" alt="" class="shadow" height="52" />
        </a>
    </div>
</section>
<!-- cta end -->

<!-- contact start -->
<section class="section bg-light" id="contact">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 col-lg-6 text-center">
                <h2 class="title">Get in Touch</h2>
                <p class="text-muted fs-16">Schoolhub 360 feature-rich designed demo pages help you create the best possible product.</p>
                <div class="title-line"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formFirstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="formFirstName" placeholder="Enter first name..." required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formLastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="formLastName" placeholder="Enter last name..." required />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="formEmail" class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="formEmail" placeholder="Your email..." required />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="formSubject" class="form-label">Subject</label>
                                <input type="text" class="form-control" id="formSubject" placeholder="Type subject..." required />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-4">
                                <label for="formMessages" class="form-label">Messages</label>
                                <textarea class="form-control" id="formMessages" rows="4" placeholder="Type messages..." required></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Send Messages <i class="mdi mdi-send ms-1"></i></button>
                </form>
            </div>
            <div class="col-lg-4 offset-lg-1">

                <div class="mb-4">
                    <div class="d-flex align-items-center mb-3">
                        <div class="flex-shrink-0">
                            <div class="contact-icon bg-soft-primary text-primary">
                                <i class="bi bi-envelope"></i>                            </div>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="mb-0"><a href="javascript:void(0);" class="text-secondary">contact&#64;schoolhub360.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="d-flex mb-3">
                        <div class="flex-shrink-0">
                            <div class="contact-icon bg-soft-primary text-primary">
                                <i class="bi bi-telephone"></i>                            </div>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="mb-1"><a href="javascript:void(0);" class="text-secondary">+91 79724 55639</a></p>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="flex-shrink-0">
                        <div class="contact-icon bg-soft-primary text-primary">
                            <i class="bi bi-geo-alt"></i>                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5 class="fs-16 mb-2 text-secondary">India:</h5>
                        <p class="text-muted lh-base">406, Fortune Business Center, Kaspate Wasti, Wakad, Pimpri-Chinchwad, Maharashtra 411057</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact end -->

<!-- footer & cta start -->
<section class="footer">
    
    <div class="footer-tagline">
        <div class="container">
            <div class="row justify-content-between py-2">
                <div class="col-md-6">
                    <p class="text-white opacity-75 mb-0 fs-14"><script>document.write(new Date().getFullYear())</script> © Schoolhub360 - <a href="https://schoolhub360.com/" class="text-white">schoolhub360.com</a></p>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="javascript:void(0);" class="text-white opacity-75 fs-14">Terms Conditions & Policy</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	
	<div class="modal-body p-0">
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>

        <img src="../../../assets/images/so.png" alt="" width="500px" height="500px" />
	</div>
	
</ng-template>
  