

.h-tab {
  bottom: 8px !important;
}

ion-tab-bar {
  //--background: linear-gradient(135deg, #da8e63, #c754aa);
  //--background: linear-gradient(#da8e63 0%, #c754aa 100%);
  --background:#ffffff !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  bottom: 0px;
  position: relative;
  border-radius: 0px;
  width: 100%;
  border-top: none;
  margin: 0 auto;
  height: 55px;
  border-top:1px solid #ccc
}

ion-tab-button {
  --color: #fff;
  --color-selected: #5a41a0;
  --padding-bottom: 4px;
  --padding-top: 0px;

  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 20px;
    height: 2px;
  }

  &.tab-selected::before {
    background-color: #5a41a0;
  }
  ion-icon {
    font-size: 20px;
    color: #5a41a0;
  }
  ion-label {
    font-size: 12px;
    color: #5a41a0;
    font-weight: 500;

  }
}
