.lh16 {
    line-height: 1.5;
    font-size: 14px;
}
.alert  {
    padding: 3px 10px;
    i {
        margin-right: 10px;
    }
    .btn-close {
        padding: 10px;
        font-size: 10px;
    }
}