:host {
  background-color: var(--ion-color-dark);
  ion-list {
    background-color: var(--ion-color-primary-contrast);
  }
}

.padding-inline {
  padding: 0 60px !important;
    text-align: left;
}

.dashboard-button {
  // display: flex;
  // //justify-content: space-between;
  // column-gap: 22px;
  // flex-wrap: wrap;
  display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
  .s-button {
    width: 90px;
    //margin-bottom: 30px;
    .dashboard-icons {
      width: 100%;
      height: 65px;
      border-radius: 15px;
      border: 1px solid #c0bae687;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #c0bae687;
      img {
        width: 55%;
      }
    }
    ion-button {
      width: 100%;
    }
  }
}

.dashboard-text {
  color: #000 !important;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.ion-padding {
  padding: 30px 20px;
}


.name-padding {
margin-top: 30px;
}
.height-name {
  height: 90px;
  display: flex;
  ion-avatar {
    width: 42px;
    height: 42px;
    margin-left: 10px;
  }
.left {
  padding-left: 10px;
}
}

.card-height {
  //background-color: red;
    height: 100%;
    margin: 0;
    border: 0;
    box-shadow: none;
    border-radius: 20px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

ion-title {
  --color:#fff
}

ion-button {
  .ion-color {
    --color:red !important
  }
}

.student-name {
  font-size: 18px;
}

.roll-number {
  font-size: 12px;
}

.w-100 {
  width: 100%;
  display: block;
}


ion-avatar {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;

}

.school-name {
  font-size: 12px;
    font-weight: normal;
    padding: 0 55px;
    text-align: left;
}

ion-item-sliding {
  margin-bottom: 10px;
  border: 1px solid #b5b2b2;
  box-shadow: 1px 1px 3px 1px #b5b2b2;
  border-radius: 10px;
  ion-item {
    --background: #fff;
    ion-label {
      font-size: 14px;
      font-weight: 500;
    }
  }
}



ion-toast.custom-toast {
  --background: #f4f4fa;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: #4b4a50;
  top: -60px;
}

ion-toast.custom-toast::part(message) {
  font-style: italic;
}

ion-toast.custom-toast::part(button) {
  border-left: 1px solid #d2d2d2;
  color: #030207;
  font-size: 15px;
}

ion-toast.custom-toast2 {
  --background: #833333;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: #4b4a50;
  top: -70px;
}

ion-toast.custom-toast2::part(message) {
  font-style: italic;
}

ion-toast.custom-toas2t::part(button) {
  border-left: 1px solid #d2d2d2;
  color: #030207;
  font-size: 15px;
}