<div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
      ngbAutofocus
      translate
    >
      {{title}}
    </h4>
  </div>
  <div class="modal-body">
    <form class="search-filter">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <!-- <span>{{message}}</span> -->
           <!-- <div [innerHTML]="message"></div> -->
           <table  class="display table row-border hover">
            <thead>
                <th>Installment No</th>
                <th>Discount End Date</th>
                <th>Late Fee Start Date</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of installmentDetails">
                  <td>{{item.installmentNumber}}</td>
                  <td>{{ getFormattedDate(item.discountEndDate)}}</td>
                  <td>{{ getFormattedDate(item.lateFeeStartDate)}}</td>
                </tr>
            </tbody>
           </table>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="form-group mb-0 pb-0">
      <button class="btn btn-light" (click)="close()" translate>
        Close
      </button>
    </div>
  </div>
  